[2015-03-19 19:10] McLeanBH opened #2 "Configuration Error"
After running `$ ember install:addon ember-shepherd` app immediately breaks, citing the following error: (Path or pattern "bower_components/shepherd.js/shepherd.js" did not match any files), as there is no 'ember-shepherd' directory in 'bower_components'. Most other addon's I have used refer to dependency in bower.json. Emerber-shepherd directory is added to node_modules, and package.json includes

[2015-03-19 21:42] rwwagner90 commented on #2
@McLeanBH I will check it out. I haven't actually tried installing it myself. I've just been using it in the dummy app inside the addon.

[2015-03-19 22:08] rwwagner90 commented on #2
@McLeanBH I totally forgot that I needed to include the bower dependencies in the blueprint. It should work now. Please uninstall, and install again and let me know if it works for you then.

[2015-03-19 23:15] McLeanBH commented on #2
Just re-installed. Nothing broken, and all dependencies were added. It appears it's good to go. Thanks. Look forward to using it.

[2015-03-19 23:15] #2 closed

[2015-03-20 00:27] rwwagner90 commented on #2
Awesome. Glad I could help! Let me know if you encounter any other issues or feel there are some features I should implement or anything.

[2015-03-24 22:36] rwwagner90 opened #3 "Need to fix requiredElements"
It works on the same route, but does not update on route change now.

[2015-03-25 14:41] rwwagner90 commented on #3
This was actually not an issue, just forgot to change requiredElements.

[2015-03-25 14:41] #3 closed

[2015-04-17 19:17] rwwagner90 opened #4 "Try to consolidate and work together with ember-onboarding"
Would be great to have a really nice addon that covers all the bases for the community.
https://github.com/thiagoc7/ember-onboarding/issues/1

[2015-04-21 16:41] rwwagner90 commented on #4
Working on this in a PR

[2015-04-21 16:41] #4 closed

[2015-04-27 20:02] alexlafroscia opened #6 "Doesn't support attachTo object"
Shepherd seems to allow you to use an object to define the `attachTo` behavior:

However, trying to use this with `ember-shepherd` breaks the tour with the following error

Which corresponds to the [code found here](https://github.com/rwwagner90/ember-shepherd/blob/master/addon/components/ember-shepherd.js#L30).

[2015-04-28 21:13] rwwagner90 commented on #6
Object syntax is not supported, you are correct. I would gladly accept a PR to support it :smile:

[2015-04-28 21:18] rwwagner90 commented on #6
Should hopefully not be too difficult to fix. I can take a look, at some point, but I'm trying to build up community involvement in the project, and this would be a great one to start with. Let me know if you are interested in taking a stab at it.

[2015-04-28 21:41] alexlafroscia commented on #6
Yeah sure, I'll see if I can put something together tonight :)

[2015-04-28 22:23] rwwagner90 commented on #6
Sounds good, thanks! For that specific split case you pointed out, you could just not split it, and use the DOM element itself, if a DOM element is passed or if a JSON object is passed, split the element property there. Shouldn't be too bad.

[2015-04-29 16:05] rwwagner90 commented on #6
@alexlafroscia did you get a chance to take a look? I'd be glad to help out if you have questions or concerns.

[2015-05-01 01:04] alexlafroscia commented on #6
Sorry, busy few days.  I'm going to check this out tonight.

[2015-05-01 01:24] alexlafroscia commented on #6
I keep getting an error with compilation, any ideas?  The error is

on

[2015-05-01 14:58] rwwagner90 commented on #6
@alexlafroscia is that when running ember build or when does it occur? Can I assume it's not a problem anymore, since you submitted a PR?

[2015-05-01 15:38] #6 closed

[2015-05-01 16:20] alexlafroscia commented on #6
Yeah, it's happening during build.  I just commented out that line, but didn't check that file in.  It seems like maybe this is [a new-ish issue in `libsass`](https://github.com/sass/libsass/issues/1096).

[2015-05-01 16:54] rwwagner90 commented on #6
Ah, well let's not worry about it then

[2015-05-04 00:18] alexlafroscia opened #9 "Tagged releases?"
Hey, do you think it'd be a good idea to tag released? I know you're keeping up with semver, so maybe it would be good to do that as well as keep up a changelog attached to each one.

[2015-05-12 15:42] alexlafroscia commented on #9
Maybe we should just start this as of `1.0.0`

[2015-05-12 15:45] rwwagner90 commented on #9
Yeah, let's start after 1.0. Everything was meant to be really beta until 1.0 and nothing is guaranteed.

[2015-05-12 15:47] alexlafroscia commented on #9
Gotcha. I only just learned yesterday that technically every release can break a package before `1.0.0` according to Semver.

[2015-05-12 15:47] #9 closed

[2015-05-12 15:48] rwwagner90 commented on #9
Well good because we're about to break everything :smiley:

[2015-05-12 15:50] alexlafroscia commented on #9
I was thinking the same thing haha

[2015-06-01 10:44] ChALkeR opened #15 "Add `tmp` dir to the .npmignore."
*Disclaimer: I do not use the package, this was found during automated npm packages downloading.*

Your current package size is 107 MiB packed, 622 MiB unpacked. 621 MiB of that are inside the `tmp` dir. I think that this probably got packed to the release by mistake.

Btw: you also packed your `.idea` dir to the release.

[2015-06-01 10:44] ChALkeR commented on #15
Very similar to https://github.com/srsgores/ember-accessible-icon/issues/2

[2015-06-01 15:20] ChALkeR commented on #15
Common issue: https://github.com/emberjs/ember.js/issues/11316

[2015-06-01 15:29] rwwagner90 commented on #15
@ChALkeR sounds like maybe Ember needs to add tmp to the default .npmignore that is generated?

[2015-06-01 15:36] ChALkeR commented on #15
@rwwagner90 Because that's a common problem, I already filed an issue on `emberjs` itself.
You can propose your methods of fixing it there. I do not use `emberjs` myself, so I don't know.

But if the package, the initial structure, or the '.npmignore` is generated by the `emberjs` itself, then adding such directories to the default `.npmignore` should fix the issue for the new packages IMO.

[2015-06-01 15:49] ChALkeR commented on #15
Moved common issue: https://github.com/ember-cli/ember-cli/issues/4199

[2015-06-01 16:37] stefanpenner commented on #15
it is, this project was likely just create after that was added

[2015-06-01 18:31] rwwagner90 commented on #15
I added it to .npmignore, so I'll close this.

[2015-06-01 18:31] #15 closed

[2015-06-03 06:24] davidpike7 opened #16 "copyStyles does not update on resize"
Currently the copyStyles does not update the positioning of the copied element on browser resize

[2015-06-05 13:42] rwwagner90 commented on #16
That is correct. It would be pretty intensive to copy the styles each time the browser resized. Perhaps we can do some debouncing and make something work here though.

[2015-07-14 18:34] rwwagner90 commented on #16
@davidpike7 is this issue stopping you from using ember-shepherd?

[2015-07-15 12:47] davidpike7 commented on #16
Not at all. We just simplified our CSS to remove the need to use copyStyles. Now its working great

[2015-07-15 12:53] rwwagner90 commented on #16
Okay, great. I would be open to a PR or suggestions on how to get copyStyles to be responsive, but it's not high on my priority list at this time. Would you be interested in giving it a go?

[2015-07-15 13:13] davidpike7 commented on #16
To be honest I don't think its particular high for us either now that we've got the issue sorted.

Happy to help out elsewhere though if you're needing some help.

[2015-07-15 13:21] rwwagner90 commented on #16
Well right now we have most of the functionality and everything that we wanted to accomplish. We're always looking to make it better though, so we'd be glad to have you take a look. Any ideas for features or improvements?

[2015-08-24 21:01] edborden opened #18 "attachTo shouldn't be required"
Per the Shepherd docs, "if you don't specific an `attachTo` the element will appear in the middle of the screen."  I get `Uncaught TypeError: Cannot read property 'element' of undefined` when `attachTo` isn't defined.

[2015-08-24 22:57] alexlafroscia commented on #18
Thanks for the report! I'll check this out this week and issue a fix!

[2015-08-26 04:05] alexlafroscia commented on #18
@edborden can I get a full stack trace? That would be really useful.

[2015-08-27 01:32] davidpike7 opened #19 "Using the Shepherd events"
Not sure if this is already possible or not so excuse my naivety.

Is it possible to observe the events emmitted by Shepherd? For example, I need to trigger a flash message after the walkthrough ends. So I'd hopefully be able to do something along the lines of:

[code]

[2015-08-27 13:41] alexlafroscia commented on #19
Yeah, you should totally be able to do that.  Let me write up a test case as an example to demonstrate, and if it doesn't work I'll add that feature.

[2015-08-29 21:55] alexlafroscia commented on #19
@davidpike7 so, you should already be able to do that with something like this:

[code]

However, I really like the use of `on` to clean that up a little.  I'm not sure how `on` works with the `Evented` mixin that Ember provides, which is what the `tour` service uses.  I'll look into that, though.

[2015-08-29 22:25] alexlafroscia commented on #19
So, I tried getting the syntax that you used working and found some confusing behavior.  It seems like `Ember.on` works with the `Ember.sendEvent` method.  However, using `sendEvent` triggers the same hooks as the `Evented` mixin, but not vice versa.  I created an object set up like this:

[code]

and only the hook set up in the `init` method was run.  I'm not sure if it's possible to get it to wo

[2015-09-02 23:05] davidpike7 commented on #19
Nice work. Keep me posted with how you get on!

[2015-09-14 19:27] rwwagner90 commented on #19
Sorry I just now saw this issue, GitHub doesn't notify me well about activity on this repo, for some reason.

[2015-09-14 19:29] rwwagner90 commented on #18
@edborden any chance you could throw together a small test case for us? We'd be glad to fix this.

[2015-09-14 21:57] rwwagner90 commented on #19
So should we close this issue @alexlafroscia ?

[2015-09-15 02:04] alexlafroscia commented on #19
Yeah, I'm pretty sure that it's not something that Ember supports right now, as the test I wrote in #20 shows

[2015-09-15 02:04] #19 closed

[2015-09-15 16:36] rwwagner90 commented on #16
I think we'll close this in favor of people fixing styles on their end. copyStyles can be an intensive process, and recalculating it all on the fly doesn't sound like a good idea.

[2015-09-15 16:36] #16 closed

[2015-09-18 20:46] rwwagner90 commented on #18
@alexlafroscia @edborden I had someone reach out to me directly about attachTo issues as well. Not sure if we aren't passing it correctly or is Shepherd has an issue. Check this out: https://github.com/JaroVDH/ember-shepherd-breaktest

[2015-09-18 20:49] rwwagner90 commented on #18
@alexlafroscia perhaps we need to change the way we pass attachTo? I see in that example repo that attachTo is undefined, which throws an error. Maybe we need to pass `null` instead of leaving it undefined? Not sure what Shepherd supports now.

[2015-09-20 15:35] edborden commented on #18
I tried setting attachTo to null and got this
[code]

[2015-09-21 15:19] rwwagner90 commented on #18
@edborden it appears we do incorrectly handle null, but passing nothing and leaving it undefined should work, I would think. This is the code in question:

[code]

@alexlafroscia `typeof null` will return `"object"` so when null is passed this tries to use the object case. We need to handle passing of null probably.

[2015-11-01 15:43] #18 closed

[2015-11-01 15:43] rwwagner90 commented on #18
Finally got around to fixing this. Sorry for the delay!

[2015-11-06 08:50] taheilo opened #22 "`pointer-events` style not removed after cancel."
`pointer-events` doesn't get removed from last step when exit button is pressed, which disables the button.

[2015-11-06 11:21] taheilo commented on #22
Also keeps the ember-shepherd specific classes on the element.

[2015-11-06 11:49] taheilo opened #23 "showCancelLink doesn't trigger 'cancel' event."
When having `showCancelLink: true` on your steps, clicking the [x] doesn't trigger the cancel event.

`this.get('tour').on('cancel', fn);`

[2015-11-09 18:02] rwwagner90 commented on #23
Thanks @taheilo. I will take a look. Totally not necessary, but if you could provide a jsbin or something, that would be helpful!

[2015-11-09 18:34] rwwagner90 commented on #22
@taheilo I'm not quite following what the issue is here. The classes do stay on the element. This is the behavior built into Shepherd, so that we don't have to loop through and apply all the classes every time the tour is started.

If you can elaborate and/or provide some sample code or jsbin or similar, I will be glad to look into this.

[2015-12-06 04:14] rwwagner90 commented on #23
@taheilo you just need to setup your cancel events on `tourObject`. You'll need to do something like this:

[code]

[2015-12-06 04:14] #23 closed

[2015-12-06 05:16] bekzod commented on #23
@rwwagner90 I think more logical api would be to listen to events directly on tour service object I think it should be implemented, what do you say ?

[2015-12-06 05:47] rwwagner90 commented on #23
@bekzod this seems to be something easy for the user to implement on their side. This specific issue @taheilo was saying that `this.get('tour').on('cancel', fn);` did not work, so I was just telling him how to do it correctly.

Could you elaborate on what you are thinking? It might be good to implement it, if it simplifies things for the user.

[2015-12-06 05:51] bekzod commented on #23
instinctive approach for the user is to listen for events directly from tour object not from property of tour object (`tourObject` it is property of tour object right ?), `this.tour.on('cancel', fn);`  like @taheilo did

[2015-12-06 05:53] rwwagner90 commented on #23
@bekzod that sounds like it could be useful. If you'd like to implement it, that would be awesome :). I fixed the tests, by the way. Do you use gitter? We could chat there.

[2015-12-06 05:55] bekzod commented on #23
cool thanks, what is gitter ? (looking it up now :) )

[2015-12-18 19:01] anthonycollini opened #26 "_this.getElementForCurrentStep()"
I am trying to implement the add-on, but I can't get it to work properly. When I add steps to the tour, including the default next button, I get a console error when it hits `_this.getElementForCurrentStep()`:

`Uncaught TypeError: Cannot read property 'style' of null`

Any thoughts as to why?

Here are my options:

[code]

Using:
[code]

[2015-12-19 00:36] alexlafroscia commented on #26
Is it possible to get a JSBin or Ember-Twiddle to replicate this?  I'm happy to fix the issue, it's just 1000 times easier if I have a broken example to work with.

[2015-12-29 00:20] eguitarz commented on #26
@anthonycollini I have same error as you do, a work-around is to set `attachTo` in step1 options.

[2015-12-29 00:28] eguitarz commented on #26
@alexlafroscia The error is raised when you did not set up `attachTo` in step options and triggering `next` or `back` event. Sometimes I don't want my `step` attach to any element... So it would be great if this can be fixed.

[2016-01-04 18:20] #26 closed

[2016-01-04 18:26] rwwagner90 commented on #26
@anthonycollini and @eguitarz I believe I have fixed this issue. Can you please grab v1.0.5 and try again?

[2016-01-04 18:31] rwwagner90 commented on #22
@taheilo could you please help us out with an example or some elaboration here?

[2016-01-06 02:02] ehubbell opened #29 "Install Error"
Hi There,

Per the instructions, I just ran `ember install ember-shepherd` then `ember s` to recompile the app. When I do this, the app fails to load and my console is spitting out the following error `application.inject is not a function`. Do I need to perform additional configuration to get the app up and running? We're running on Ember 1.13 and Ember-Cli 0.2.7.

Thanks,
Eric

[2016-01-06 16:55] rwwagner90 commented on #29
Hi @ehubbell. I believe it may only work with Ember 2.0+ now. I fixed some deprecations, including some stuff with initializers.

@bekzod if we removed initializers, as you suggested, would the app work with 1.13 you think?

[2016-01-06 17:05] bekzod commented on #29
@rwwagner90 if you fixed it, I think that will be breaking change for 1.13 users.
I don't really know if `refactor` branch works on 1.13 but 99% sure that it should :)

[2016-01-06 17:10] rwwagner90 commented on #29
@bekzod I think we should use ember try to check and see what the earliest version of ember is that will work. I'll work on that later.

[2016-01-06 19:04] ehubbell commented on #29
Thanks for the update. We’re in the process of updating to Ember 2.0. We’ll try again when we’re complete. Meantime, let me know if I can help via testing on our 1.13 env.

On Jan 6, 2016, at 10:10 AM, Robert Wagner <notifications@github.com> wrote:

@bekzod <https://github.com/bekzod> I think we should use ember try to check and see what the earliest version of ember is that will work. I'll work

[2016-01-13 14:06] rwwagner90 commented on #29
@ehubbell I just merged @bekzod 's changes in, which removed initializers, and may make things work again for you. We have not written up a changelog or updated the README yet, so be aware things like `trigger('start')` no longer work and you should just call `start()` etc etc

[2016-01-13 14:06] rwwagner90 commented on #29
So please try 1.1.0 and see if it works for you :smile:

[2016-01-13 23:28] #29 closed

[2016-01-13 23:28] rwwagner90 commented on #29
@ehubbell please confirm at your earliest convenience.

[2016-01-15 16:40] anthonycollini opened #32 "Classes in 'defaults' config not being appended to dom"
When I set classes in my 'defaults' config, they get added to the object, but do not translate to the dom. Am I missing something?

As you can see, I added `modal` and `myclass` to the defaults classes, and they do not show up in the dom.

<img width="1171" alt="screenshot 2016-01-15 11 11 04" src="https://cloud.githubusercontent.com/assets/933222/12358657/60702180-bb7c-11e5-89cc-6f207cf96d0f.png"

[2016-01-15 19:01] anthonycollini commented on #32
I am also finding that most of the options do not work, such as disableScroll, scrollTo, and modal, which are the only ones I have been using. I am able to scroll and there is no modal, or styles for that matter.

` "ember": "2.2.0"`
`"ember-shepherd": "1.1.0",`

[2016-01-15 19:22] anthonycollini commented on #32
I created an example app that shows the issues, which include the following options not working:

- custom classes
- disableScroll
- modal
- no styles
- you can't run the tour with a `builtInButtons` array.

https://github.com/anthonycollini/ember-shepherd-test

[2016-01-17 22:47] rwwagner90 commented on #32
@anthonycollini I'm looking into your example, but our sample app uses ember 2.2.0 and ember-shepherd 1.1.0 and everything seems to work for me. Were you using a previous version of ember-shepherd with success?

[2016-01-17 23:42] rwwagner90 commented on #32
@anthonycollini you are not setting these things correctly. `defaults` is for Shepherd options only, not for ember-shepherd options. Please look at the docs again. You need to do something like this:

[code]

[2016-01-17 23:46] rwwagner90 commented on #32
I sent a PR your way to fix your example https://github.com/anthonycollini/ember-shepherd-test/pull/1

[2016-01-17 23:46] rwwagner90 commented on #32
Please read the ember-shepherd docs and the Shepherd docs, then let me know if anything is still not working.

[2016-01-18 16:04] anthonycollini commented on #32
Okay, I see you can't pass those options to the defaults hash. Modals and disableScroll are now working. However, it still seems as the classes are not being passed properly. My 'modals' do not have not have any style, and I can't pass custom classes through defaults, as well as through the individual steps as noted in my initial comment in this thread with screenshot. Any thoughts on that?

[2016-01-18 17:55] rwwagner90 commented on #32
@anthonycollini I checked out the class issue, and you are right about that. Working on a fix now.

[2016-01-19 14:50] rwwagner90 commented on #32
@anthonycollini I think I fixed this issue, but it still doesn't behave like I would assume it would. I would assume defaults and the classes you define on a per step basis would sort of merge and all be applied for that step, but I am not sure Shepherd supports that. I posted an issue there to determine: https://github.com/HubSpot/shepherd/issues/90

Also, after this fix I made, you will need to

[2016-01-19 15:49] rwwagner90 commented on #29
@ehubbell everything working for you now?

[2016-01-19 22:30] ehubbell commented on #29
Hi Robert,

So sorry I haven’t been in touch. I haven’t had a chance to integrate this. We’re in the midst of converting our staging environment and upgrading to Ember 2.0. I’ll give it a try later tonight and let you know.

Eric

On Jan 19, 2016, at 8:49 AM, Robert Wagner <notifications@github.com> wrote:

@ehubbell <https://github.com/ehubbell> everything working for you now?

—
Reply to this em

[2016-01-21 01:49] rwwagner90 commented on #29
No worries @ehubbell. Just let me know. Good luck with Ember 2.0!

[2016-01-21 03:16] #32 closed

[2016-01-21 03:21] rwwagner90 commented on #32
@anthonycollini please try the 2.0.0 version we just released and let me know if any problems still persist.

[2016-01-22 14:00] rwwagner90 commented on #32
@anthonycollini does it work for you now?

[2016-01-25 12:27] craigsketchley commented on #22
Hey @rwwagner90. Cheers for making this library. I'm having the same issue as @taheilo.

Basically the attribute `style="pointer-events: none;"` is left on any `shepherd-element` after shepherd completes or cancels. So if I have some buttons that are the target elements in one of the shepherd steps, they are un-clickable after a shepherd tour finishes.

To fix this, I'm currently doing the followi

[2016-01-25 15:20] rwwagner90 commented on #22
Hi @craigsketchley seems like something I should be able to fix pretty easily. Are you using the 2.0.0 version of ember-shepherd? How are you liking the library?

[2016-01-26 01:14] craigsketchley commented on #22
Yep, I'm using v2.0.0. The library has been a great help integrating Shepherd into my Ember app, cheers. I'm pretty new to Ember so have trouble finding the best way to integrate external libraries. I wouldn't mind contributing if you've got anything that needs doing?

[2016-01-26 14:05] rwwagner90 commented on #22
@craigsketchley glad it has helped you out! If you would like to contribute, we would love to have you. When the tour completes or cancels, the cleanup method gets called, and it is supposed to set the pointerEvents back to `'auto'`, but it appears it is only doing so for the currentStep and not all the elements. If you would like to take a stab at fixing the cleanup method and writing a test that

[2016-01-27 00:24] craigsketchley commented on #22
Yeah, great. Happy to help out with that issue and cheers for the guidance. I'll let you know how I go.

[2016-01-29 11:29] maxkwallace commented on #22
Just want to confirm that I'm running into the same issue as @taheilo and @craigsketchley. A fix for this would be awesome!

[2016-01-29 15:01] rwwagner90 commented on #22
@craigsketchley are you working on a fix? If not, I'd be happy to work on a fix this weekend

[2016-01-29 21:28] craigsketchley commented on #22
Yeah, sorry it took me a while to get round to it. How's this? #33

[2016-01-30 01:44] rwwagner90 commented on #22
@craigsketchley no worries. PR looked great, I went ahead and merged. Thanks a bunch! Are you interested in being added as a contributor to the repo and helping with various things? Any other ideas for improvements or features?

[2016-01-30 14:51] rwwagner90 commented on #22
@taheilo @maxkwallace @craigsketchley I have merged the work that @craigsketchley did and I published the new version 2.0.1. Please grab the new version and let me know if the problem is fixed!

[2016-01-30 16:21] maxkwallace commented on #22
Just updated to `2.0.1`. Looks good to me-- thanks for the fix, and the addon!

[2016-01-30 16:23] rwwagner90 commented on #22
Glad it works for you @maxkwallace! Feel free to throw some stars our way if you want :wink:

[2016-01-30 16:23] #22 closed

[2016-01-31 04:24] craigsketchley commented on #22
Thanks @rwwagner90. Yes, I'd love to help out with a few more things. I'll have to have a think about some new features/improvements.

I'm currently trying to implement a tour on a responsive site, so I need to have some different tour steps depending on device, any thoughts on the best practice for this? One other thing I noticed was the tour would persist if you navigated to another route (e.g.

[2016-01-31 13:50] rwwagner90 commented on #22
@craigsketchley do you use gitter? Might be easier to chat there than in these issues.

I haven't thought about switching steps out based on device. We would have to do some device detection and then maybe set flags on each step for what devices it should be displayed on or something. I'm open to suggestions, but it does not sound like an easy problem to solve. It might be easier to just create co

[2016-02-02 06:19] rwwagner90 opened #35 "disableScroll = true && scrollTo = true combo does not work"
Currently, if you set both to true, it disables scroll which breaks scrollTo. Need to work around this.

[2016-02-02 07:06] craigsketchley commented on #35
Yes, I was actually just going to mention this. I noticed in Shepherd they have an undocumented [`scrollToHandler`](https://github.com/HubSpot/shepherd/blob/master/src/js/shepherd.js#L290) option for a step, otherwise they just call `elem.scrollIntoView()`.

I was thinking we could implement a `scrollToHandler` where we essentially wrap a `elem.scrollIntoView()` with calls to enable/disable scroll

[2016-02-02 15:37] rwwagner90 commented on #35
@craigsketchley that sounds logical to me. Would you be interested in working on that functionality or would you like me to do it? I'm fine with either way.

[2016-02-02 22:03] craigsketchley commented on #35
I'll give it a go.

[2016-02-02 22:56] rwwagner90 commented on #35
Sounds good. Let me know if you need any help or decide you want me to do it instead. Do you have an email you want listed in the collaborators? I didn't see one in your GitHub profile.

[2016-02-02 23:08] craigsketchley commented on #35
Sure, will do :) my email's craigsketchley@gmail.com. I'll get a PR up for this today.

[2016-02-04 15:38] rwwagner90 commented on #35
@craigsketchley how's your progress going on this? I added your email to package.json and bower.json

[2016-02-05 00:42] craigsketchley commented on #35
Yeah, done. Just struggling to test it.

[2016-02-05 15:27] rwwagner90 commented on #35
@craigsketchley anything I can do to help? Just to note, I changed all of our tests to run in Chrome because there is currently a bug with Ember that breaks if vendor.js is too big with Phantom.

[2016-02-07 00:03] ryanjm opened #38 "Scrolls down when it doesn't need to"
I'm not sure if this is related to #35, but I don't think it is.

You can see it on the [project page](http://rwwagner90.github.io/ember-shepherd/). When you load it, it scrolls down until the element it is pointed at is at the top of the page (if your page is cached, you might need to do this in incognito).

Is there any way to disable this jumping and only scroll if the element is out of the vie

[2016-02-07 13:19] rwwagner90 commented on #38
@ryanjm I just turned the defaults option `scrollTo` to true for the demo.

[code]

You can set `scrollTo` to false to stop this behavior.

[2016-02-07 15:35] ryanjm commented on #38
Thanks @rwwagner90. I should have looked closer at that.

[2016-02-07 15:35] #38 closed

[2016-02-08 11:49] rwwagner90 commented on #38
No problem @ryanjm! If you were interested in some scrolling that behaves more the way you described, please feel free to make a PR. We are currently working on some scrolling issues though, so might be best to wait until we merge that in.

[2016-02-15 14:09] rwwagner90 commented on #35
Merged the PR in @craigsketchley, so I am closing this.

[2016-02-15 14:09] #35 closed

[2016-02-15 23:32] rwwagner90 commented on #38
@ryanjm we have merged in the new capability of using scrollTo with diasbleScroll. Please check out version 2.0.5. If you have another desired scroll behavior, we'd be happy to work with you on it. Definitely trying to get more community PRs and feature suggestions.

[2016-02-15 23:32] ryanjm commented on #38
Thanks! I will check it out.

[2016-02-17 17:45] boydkr opened #41 "Question: Attaching to elements in the corner"
Is there any way to offset or alter the attaching behavior for elements that exist in the corner of the page?

The default behavior of centering on the selected side of the element doesn't work very well for elements in or near the corner, currently.

[2016-02-17 18:33] rwwagner90 commented on #41
Hi @boydkr you should be able to tweak `attachTo` to do what you want. Try using `left`. Does this accomplish what you are going for?

[2016-02-17 22:24] boydkr commented on #41
If an element is to far into the corner of a page (i.e. top right corner), both `left` and `bottom` positioning result in the attached element losing it's "desired" position and formatting, because it can't fit on the page and be centered on the `attachTo` element.

I can try to put together an example screenshot if that would help.

[2016-02-18 11:15] craigsketchley opened #42 "Check for required elements on tour start?"
Hey, I was thinking we should probably be checking for the required elements when the tour starts. I've found that, between setting the steps and starting the tour, elements might change on the page. I am setting the steps of my tour for a route in `setupController`, so is maybe there's a better place to do the tour configuration?

[2016-02-18 19:18] rwwagner90 commented on #41
@boydkr `attachTo` is a built in option of the Shepherd library. I'd be inclined not to work around that, as we don't want to get into writing our own tour library, just extending theirs and wrapping it for Ember. Please check out the official Shepherd library http://github.hubspot.com/shepherd/ . I assume the same behavior happens using that and not just with our addon? If there is an issue with

[2016-02-18 19:21] rwwagner90 commented on #42
@craigsketchley why not just set your steps after the elements you want are defined?

[2016-02-19 01:26] craigsketchley commented on #42
Yeah, I definitely could. I'm just thinking it would be an improvement from a usability perspective. It feels like checking for the required elements on the page would be better associated with starting the tour than configuring the tour. Things are breaking at the moment if you set the required elements after setting the steps and I wouldn't know why without looking inside the library code - I th

[2016-02-19 02:42] rwwagner90 commented on #42
I was trying to avoid doing all of that when you call start, but maybe it's not terrible to have it happen on start. I feel like I had reasons for it, but I can't remember them. I'm open to a PR, if you'd like to give it a shot.

[2016-02-19 02:45] craigsketchley commented on #42
Cool. I'll have a crack at it.

[2016-02-19 02:50] rwwagner90 commented on #42
Maybe we should rewrite it to just set it all up in one config object and then set each respective thing. Let me take a look this weekend actually.

[2016-02-19 15:15] rwwagner90 commented on #42
@craigsketchley as a side note, I started an organization Ship Shape and I want to just build a bunch of Ember Addons for the community and add them to the organization's portfolio. You may have noticed I moved this addon into the organization already. Not sure how interested you are in the addons I have created already or if you have ideas for new ones as well, or if you even have much time to de

[2016-02-22 21:47] rwwagner90 commented on #41
@boydkr did you look at the actual Shepherd library to confirm this behavior?

[2016-02-23 05:06] rwwagner90 commented on #42
@craigsketchley I ended up having a lot of other stuff to work on this weekend working towards getting the Ship Shape website up and running. I'll definitely take a look at moving all of this logic into the tour start this week though. I think we can get one central config and setup will be a lot smoother. Sorry for the delay!

[2016-02-23 05:10] craigsketchley commented on #42
No, no worries. I was moving house so didn't have any time to look into either :smile: Yeah good plan. Let me know if there's anything I can help with.

[2016-02-23 16:31] rwwagner90 commented on #42
@craigsketchley I think the issue here is, if we move all the logic to when the tour starts, every time you stop and start the tour, it has to do all the setup again, versus having the initialization of a new tour only happen when you change the steps. What are your thoughts? I'm open to suggestions on how to implement this.

[2016-02-23 22:17] boydkr commented on #41
I'm sure you're correct, that the behavior in inherent in Shepherd itself.  I may try opening an issue there.

[2016-02-23 22:20] rwwagner90 commented on #41
@boydkr I don't think that there is. I think it makes the most sense to support this on the Shepherd level, but if you would like for Ember-Shepherd to support it, and the Shepherd team does not want to, we'd love to work with you on a PR for it :smile: .

[2016-02-24 02:42] craigsketchley commented on #42
My initial thoughts were to essentially extract [this required elements check](https://github.com/shipshapecode/ember-shepherd/blob/master/addon/services/tour.js#L304) from the `steps` observer into it's own observer on the `isActive` property. I'd also probably remove the `autoStart` from the `steps` observer too, feel like that should be called in an ember lifecycle hook. I've got the start of t

[2016-02-24 04:52] rwwagner90 commented on #42
@craigsketchley I think we have to completely remove the steps observer, and just do all of this stuff when `start` is called.

As for autoStart in a hook, what hooks are available inside an Ember service?

[2016-02-26 03:06] craigsketchley commented on #42
Yeah, I think you might be right - rather than rely on observers where the order is less defined. As long as all the processing doesn't noticeably delay/lock the tour from starting.

I looked into service hooks and there doesn't seem to be any we can use. I'm thinking that maybe `autoStart` shouldn't be the responsibility of ember-shepherd? If an app is setting `autoStart: true`, then they may as

[2016-02-26 05:43] rwwagner90 commented on #42
I agree with your thoughts on autoStart. We probably should just let the user start it whenever they need to.

[2016-02-26 05:44] rwwagner90 commented on #42
I've still been spending most of my time working on the new Ship Shape site and the ember-3d-nav. Feel free to think about this some more and let's try to nail down exactly what we want and then we can implement it.

[2016-02-26 06:04] craigsketchley commented on #42
:+1: sounds good. I might have a hack around and get a rough PR up.

[2016-02-26 06:35] rwwagner90 commented on #42
A PR would be great :smile:. I can't really fully dive into this until I fix up the website.

[2016-02-29 13:06] rwwagner90 commented on #41
@boydkr let me know if you'd like to work with us on creating support for this. I'm going to close this, as it is a Shepherd issue, but we could potentially support it here.

[2016-02-29 13:06] #41 closed

[2016-03-03 17:15] rwwagner90 commented on #42
@craigsketchley any more thoughts or progress on the issue?

[2016-03-03 18:59] rwwagner90 commented on #42
@bekzod also feel free to give your input on this issue.

[2016-03-29 14:43] rwwagner90 commented on #42
@craigsketchley haven't heard from you in awhile. You still interested in working on this?

[2016-03-30 06:10] craigsketchley commented on #42
Hey @rwwagner90, yeah sorry, a shepherd tour became low priority for the product I'm working on. I can probably get round to this at the weekend?

[2016-04-06 18:32] rwwagner90 opened #43 "Test ticket from Code Climate"

[2016-04-06 18:33] #43 closed

[2016-04-24 14:17] rwwagner90 commented on #42
@craigsketchley do you think you could work on this soon? I'd love to close it out. I have a ton of side work I am doing now, so I don't have time to implement this myself currently.

[2016-05-04 04:20] rwwagner90 commented on #42
@craigsketchley any updates?

[2016-05-23 00:34] rwwagner90 commented on #42
@craigsketchley I'm inclined to close this if there is no longer any interest in working on it. Let me know please.

[2016-05-27 02:13] craigsketchley commented on #42
Hey @rwwagner90, really sorry I haven't gotten round to this. I'll submit the PR tonight.

[2016-05-27 02:15] rwwagner90 commented on #42
@craigsketchley no worries, we're all super busy. Just wanted to check if there was still interest

[2016-05-30 18:26] rwwagner90 commented on #42
@craigsketchley could you submit that PR please?

[2016-06-09 03:32] craigsketchley commented on #42
Hey @rwwagner90. Sorry for being slack here, taken on way too much lately and we're not using this in our product anymore so became a little hard to justify working on it. I've had a play and it turns out to be a bigger task than anticipated. Not sure I'll get much free time until July (University exams 😞 ). I've pushed what I've got to the [`requirdElementsFix` branch](https://github.com/shipshap

[2016-06-09 17:54] rwwagner90 commented on #42
@craigsketchley no worries at all. Thanks, I'll check it out. Did you switch to a different tour library or did you remove the tour completely, in your product?

[2016-06-11 04:52] craigsketchley commented on #42
Cheers. We're just not using a tour for now. We decided to reprioritise some features and it got bumped way down. We may revisit it in the future though.

[2016-06-13 15:35] rwwagner90 commented on #42
Gotcha, just glad you didn't find a better tour library out there 😛

[2016-07-22 12:12] rwwagner90 commented on #42
I'm going to close this for now. If anyone in the future has some big problems with this issue. Please leave a comment and we can look at implementing it.

[2016-07-22 12:12] #42 closed

[2016-08-12 20:35] djsegal opened #54 "Ability to pass ember templates to shepherd's text field"
+ It's hard to manually change class names for deeply nested components. (all buttons for example have the `shepherd-button` class.)

+ One way to make it easier would be to have some some style addons (i.e. `ember-shepherd-bootstrap`)

Is there some crucial information I missed in the docs that would make this possible?

----------
#### Update: 9/9/16

Honestly, this issue changed a lot over its

[2016-08-14 02:11] djsegal commented on #54
In order to get my setup working, I had to make heavy use of the `text` field on the steps.

How do you pass components and templates to that property?

--------------

Right now, ive been using this kind of setup:

[code]

[2016-08-14 04:28] djsegal opened #55 "No support for advanceOn (shepherd step option)"
From the [step options in the shepherd docs](http://github.hubspot.com/shepherd/index#step-options):

[2016-08-14 07:02] djsegal opened #56 "Way to get user to confirm quitting a tutorial"
### What happened

I want to use a browser's native alert for confirming a tutorial quit.

I tried to monkey patch with the following code, but was unsuccessful:

[code]

---------

#### 2 unsuccessful attempts

+ `e.preventDefault();` - you probably use ember bindings, rendering this useless
+ `route.get('tour').start();` - gets demo to start, but it's completely reset

[2016-08-14 07:05] djsegal commented on #55
The reason there is no support is because there is no reason for it.

+ The problem I was running into is I had a div with a class of `btn`.
+ `btn` on hover gives a z-index of 2

--------

in my case, to fix this, i used to following css:

[code]

[2016-08-14 23:42] rwwagner90 commented on #54
@djsegal this is a wrapper around the Shepherd library, it does add some extra functionality, but we are limited to what their library can do. Please refer to their docs. It says this:

`text`: The text in the body of the step. It can be one of four types:
* HTML string
* Array of HTML strings
* HTMLElement object
* Function to be executed when the step is built. It must return one the three optio

[2016-08-14 23:46] rwwagner90 commented on #55
@djsegal could you elaborate on your issue here? As for advancing on clicking something else on your page, you can just use `this.get('tour').next()` to advance it in your own function or action.

[2016-08-14 23:51] rwwagner90 commented on #56
@djsegal I think the issue is all of our builtInButtons are still going to fire all of their events. So, to support this, I think we would need to allow using custom buttons too, and you would have to define a button that does the behavior you are looking for. I'm open to a PR that would allow custom buttons for other actions, other than the Shepherd supported ones.

[2016-08-15 17:51] djsegal commented on #55
I anchorTo'd an anchor tag with the class `btn`. Because bootstrap add `z-index=2` to `btn` on `:hover`, the button was unclickable.

------

Adding that css allowed the button to be clicked

[2016-08-15 17:55] djsegal opened #57 "Ability to call super from all options (i.e. build off default values)"
The two places this comes across most is `classes` and `beforeShowPromise`:

+ I think a `classNames` setup might be a nice feature that would allow for dryer code
+ Also, a `this._super(...arguments);` would go a long ways in `beforeShowPromise`

------

*// sorry for all the issues... ill start wrapping them up, just in a time of heavy code production*

[2016-08-15 17:57] djsegal commented on #54
I think an `import hbs from 'htmlbars-inline-precompile';` approach to get it into a `HTMLElement object` state would be the best approach

i'll try to look into it more

[2016-08-15 17:57] rwwagner90 commented on #55
@djsegal that does not sound like a bug here at all. It sounds like bootstrap changed the css.

[2016-08-15 17:58] djsegal commented on #55
Yup. Closing the issue.

[2016-08-15 17:58] #55 closed

[2016-08-15 18:00] rwwagner90 commented on #57
@djsegal could you elaborate on this? I'm not sure what super is needed for. Wouldn't you just execute the code you want in beforeShowPromise?

[2016-08-15 18:02] rwwagner90 commented on #54
@djsegal would you want to take a stab at implementing something and submit a PR or do you think we should just document how you might do it externally and just support passing the things Shepherd supports out of the box?

[2016-08-15 18:13] djsegal commented on #57
Let's say I have a bug that I'm band-aiding by calling `window.resize` in the `default.options.beforeShowPromise`.

I'd prefer to call `super` instead of `window.resize` in all these overriding `beforeShowPromise`s, so I can add more configurations.

So it's mainly for monkey patching?

[2016-08-15 18:16] rwwagner90 commented on #57
@djsegal okay, I see what you mean. I'm open to a PR to support this.

[2016-08-17 11:14] sicdigital opened #59 "Body classes on tour complete"
I have a few styles that I'm adding to my app based on wether the tour is actually running. This is working great except that all of the classes for the tour persist even when the tour has been completed or cancelled. It would be really nice if the tour was torn down once it was finished.

[2016-08-17 11:18] sicdigital commented on #59
It looks like I have some other issue. I'm seeing that I have `shepherd-enabled` and `shepherd-active` available to me, but they are working inconsistently in my app.

[2016-08-17 12:01] rwwagner90 commented on #59
@sicdigital this is the way Shepherd works out of the box, it does not tear down when you complete the tour, I think because then if you wanted to start it again, no setup is required.

[2016-08-17 12:02] rwwagner90 commented on #59
Do you need to completely remove all the Shepherd classes and elements or do you just need a way to tell if the tour is active or not? Please elaborate on your use case and we can try to find a solution.

[2016-08-17 12:05] rwwagner90 commented on #56
@djsegal we can totally support this in this addon. It looks like Shepherd allows you to pass events for buttons, so we would just need to allow passing that here and you could pass a `click` event function that would pop up a confirm, then after your confirm, you could manually do `this.get('tour').cancel()`

[2016-08-17 12:20] sicdigital commented on #59
Hey @rwwagner90, I actually ended up using the `shepherd-active` class, so the add-on already supported what I needed to do. I think you're ok to close the issue. Thanks for the quick response, everything is working great :)

[2016-08-17 12:34] rwwagner90 commented on #59
@sicdigital awesome! If you feel like the README could use some updates on documenting how to do the things you were trying to do, please feel free to submit a PR 😄

[2016-08-17 12:34] #59 closed

[2016-08-17 15:46] djsegal opened #60 "Arrows not being added to pinned tethers (ones where they are successfully attached)"
+ Arrows are only applied to correctly attached tethers. Is there a way to get it to work for pinned arrows too? [see tether-theme-arrows.sass](https://github.com/HubSpot/tether/blob/5c51f9dbb7a0505840fc0718281f5df853a2a95a/src/css/helpers/_tether-theme-arrows.sass)

+ For example, being pinned in the x direction (i.e pinned right) shouldn't prevent arrows being added to tethers attached successfu

[2016-08-17 15:47] rwwagner90 commented on #60
@djsegal not sure what you mean here. Can you attach some screenshots?

[2016-08-17 15:58] djsegal commented on #57
#### pinned shepherd element:

  + ![screen shot 2016-08-17 at 11 49 21 am](https://cloud.githubusercontent.com/assets/3156114/17743258/12d995ac-6471-11e6-8b08-397c8bbaa847.png)

  + class:
   - `shepherd-step shepherd-element shepherd-open shepherd-theme-arrows shepherd-has-title shepherd-has-cancel-link shepherd-element-attached-top shepherd-target-attached-bottom shepherd-enabled shepherd-pinne

[2016-08-17 15:59] djsegal commented on #60
#### pinned shepherd element:

  + ![screen shot 2016-08-17 at 11 49 21 am](https://cloud.githubusercontent.com/assets/3156114/17743258/12d995ac-6471-11e6-8b08-397c8bbaa847.png)

  + class:
   - `shepherd-step shepherd-element shepherd-open shepherd-theme-arrows shepherd-has-title shepherd-has-cancel-link shepherd-element-attached-top shepherd-target-attached-bottom shepherd-enabled shepherd-pinne

[2016-08-17 16:00] rwwagner90 commented on #57
@djsegal I believe you posted these screenshots in the wrong issue.

[2016-08-17 16:01] djsegal commented on #60
note that it is:
+ `attachedTo`: `bottom`
+ `pinned`: `right`

[2016-08-17 16:03] rwwagner90 commented on #60
@djsegal okay, I see what you mean. This is definitely an issue that should be posted at Shepherd itself. Changing how the arrows show up should be done there, in my opinion. I think they have chosen to have them only in the center by default.

[2016-08-17 16:07] djsegal commented on #60
Closing the issue.

Repeat of https://github.com/HubSpot/shepherd/issues/135

[2016-08-17 16:07] #60 closed

[2016-08-17 16:08] djsegal commented on #54
I think documentation first. And then let the PR come naturally?

This feels like a feature that someone else will want eventually

[2016-08-17 16:12] rwwagner90 commented on #54
@djsegal were you able to get the `import hbs from 'htmlbars-inline-precompile';` stuff to work?

[2016-08-17 16:14] djsegal commented on #54
At the moment, I'm doing the html compilation inside a route js file.

I was going to refactor it out later using the hbs compiler

[2016-08-17 17:43] rwwagner90 commented on #54
@djsegal once you get it working, can you submit a PR for how to use hbs to the README?

[2016-08-17 19:00] rwwagner90 commented on #56
@djsegal 2.1.5 should not have this functionality. Please update and give it a try!

[2016-08-17 19:00] #56 closed

[2016-08-18 22:29] djsegal commented on #56
@rwwagner90 thank you! works like a charm

[2016-08-19 00:02] djsegal commented on #54
@rwwagner90:
 + The problem with hbs is that it gives you an object that needs rendering. As [this stackoverflow post](http://stackoverflow.com/a/25041239/5187080) explains, this is actually pretty hard to do in isolation.

 + [One solution on stackoverflow](http://stackoverflow.com/a/35625858/5187080) was to make a utility function that wrapped the template in a component.

--------

I couldn't g

[2016-08-19 12:54] rwwagner90 commented on #54
@djsegal yeah, it would have to work like it does in integration tests.

[code]

[2016-08-19 12:58] rwwagner90 commented on #57
@djsegal would you like to submit a PR for this?

[2016-08-19 17:28] djsegal commented on #57
Sorry @rwwagner90, I don't think I have the time for this PR right now.

I was able to somehow fix whatever problem prompted this issue without super calls.

I'm ok with closing it

[2016-08-20 16:37] rwwagner90 commented on #57
@djsegal okay, no worries. We can close and we can create a new issue if anyone else has issues.

[2016-08-20 16:37] #57 closed

[2016-08-31 11:41] rwwagner90 commented on #54
@djsegal I subsequently tried to get the hbs inline precompile stuff to work in another project and it just doesn't seem possible, so I think you are stuck creating html with JS or using ES2015 template strings or something. The only way we could truly support Ember components would be to rewrite Shepherd in Ember and that goes beyond the scope of this addon. Is there anything you would like to ad

[2016-09-01 18:33] djsegal commented on #54
I don't know the best course to take.

+ For my case, now I just have a mixin to store a lot of the custom html text (it's ugly, but at least it's in its own file)
+ I think a quick note in the readme describing the limitation might be the best way to go. Maybe it will lead to someone picking up the challenge in the future (either in this addon or a new one)?

[2016-09-01 19:19] rwwagner90 commented on #54
@djsegal would you want to drop a quick note in the README?

[2016-09-08 12:56] rwwagner90 commented on #54
@djsegal ^

[2016-09-09 13:26] rwwagner90 commented on #54
@djsegal sounds great to me. Do you want the easy PR or do you want me to just update it?

[2016-09-10 13:31] #54 closed

[2016-09-16 14:32] ianpetzer opened #74 "Using npm to pull in sheperd and tether dependencies"
Hi there,

Thanks for this amazing add-on. We've been trying it out with some great success.

I was just wondering if you've ever thought of pulling the dependencies in via npm instead of bower?

The reason I'm asking is that we also use ember-modal-dialog and ember-tooltips both of which use ember-tether to pull in the tether dependency via npm.

I'm not completely sure what happens if you pull t

[2016-09-16 16:03] rwwagner90 commented on #74
Hi @ianpetzer.

Glad to hear you're enjoying the addon!

I have gone back and forth on this. I do favor removing the dependency on bower, but I was not aware of ember-cli-node-assets, which it looks like ember-tether is using to accomplish this. I thought ember-browserify was the only viable option.

I can look into making the switch.

[2016-11-06 13:51] rwwagner90 opened #83 "Get to 100% code coverage"
We currently have 92% code coverage, but it would be great to get to 100% and make the tests more robust, so we can be sure the addon continues to work well.

[2016-12-01 14:32] rwwagner90 commented on #74
@ianpetzer I was able to make this addon depend on ember-tether, so *hopefully* that will fix the potential double dependency issue. Version 2.4.0 has the change. Please try it out!

[2016-12-01 14:32] #74 closed

[2016-12-01 15:05] ianpetzer commented on #74
Amazing! I will check it out and report back!

On Thu, Dec 1, 2016 at 4:32 PM, Robert Wagner <notifications@github.com>
wrote:

[2016-12-07 10:03] basz opened #94 "After an upgrade"
After upgrading to ember 2.10.0 I'm getting an exception for shepherd. When I remove it from my app thing work again...

ideas?

[code]

[2016-12-07 13:46] rwwagner90 commented on #94
@basz it works with older ember? Do you have ember-resolver installed?

[2016-12-07 13:59] basz commented on #94
It did, yes.
But i confess I upgrade last week and then things still worked. I cleanup node_modules and bower and reinstalled everything which exposed this problem.

ember-resolver is installed yes and is not problematic when ember-shepard is removed from the project.

[2016-12-07 14:02] rwwagner90 commented on #94
@basz could you try something for me? Can you `ember install ember-tether` and then see if it works please?

[2016-12-07 14:08] basz commented on #94
hmm. I had removed that too...

[code]
then
[code]
installs
[code]

now no error. weird... no idea what went wrong here. thanks

[2016-12-07 14:39] rwwagner90 commented on #94
@basz can you uninstall `ember-tether` and see if the issue comes back? I suspect I may need to add installing `ember-tether` to the blueprints for this addon.

[2016-12-07 15:01] rwwagner90 commented on #94
@basz it seems `ember-tether` needed to be a peerDependency. I have released version 2.4.2 of ember-shepherd with that change. You should be able to remove ember-tether and ember-shepherd, and reinstall, and it will pull in both. Thanks for bringing this to my attention!

[2016-12-07 15:13] basz commented on #94
i see what you mean, but this did not fix it. I still need to manually do `ember install ember-tether`

[2016-12-07 16:06] rwwagner90 commented on #94
@basz are you sure? Delete `ember-tether` and `ember-shepherd` from package.json, then run:

`rm -rf node_modules`
`npm cache clean`
`ember install ember-shepherd`

Let me know if that works please!

[2016-12-07 17:25] rwwagner90 commented on #94
@basz it seems that no combination of deps, peerDeps, etc fix the issue, so I added a blueprint to add `ember-tether` when you `ember install ember-shepherd`. Can you please remove them and give it a shot?

[2016-12-08 14:15] basz commented on #94
[code]
[code]

resolved, thanks

[2016-12-08 14:15] #94 closed

[2017-01-05 09:04] ianpetzer commented on #74
@rwwagner90 I can confirm that I've upgraded to v2.4.4 and everything is working beautifully without the bower dependency tether-sheperd.

Thanks so much!

[2017-03-24 17:28] greenkeeper[bot] opened #132 "An in-range update of ember-cli-eslint is breaking the build 🚨"
## Version **3.0.3** of [ember-cli-eslint](https://github.com/ember-cli/ember-cli-eslint) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/shipshapecode/ember-shepherd/compare/greenkeeper%2Fember-cli-eslint-3.0.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      ember-cli-eslint
    </t

[2017-03-24 20:22] greenkeeper[bot] opened #133 "An in-range update of ember-cli-shims is breaking the build 🚨"
## Version **1.1.0** of [ember-cli-shims](https://www.npmjs.com/package/ember-cli-shims) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/shipshapecode/ember-shepherd/compare/greenkeeper%2Fember-cli-shims-1.1.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      ember-cli-shims
    </td>

[2017-03-27 14:14] #133 closed

[2017-03-27 14:14] #132 closed

[2017-05-18 00:03] greenkeeper[bot] opened #140 "An in-range update of ember-source is breaking the build 🚨"
## Version **2.13.1** of [ember-source](https://github.com/emberjs/ember.js) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/shipshapecode/ember-shepherd/compare/greenkeeper%2Fember-source-2.13.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      ember-source
    </td>
  </tr>
  <tr>

[2017-05-26 11:43] #140 closed

[2017-06-15 12:09] rwwagner90 opened #142 "Remove bower and foundation"
Need to use flexi instead probably

[2017-06-25 21:27] simonihmig opened #145 "Fix breaking changes in FastBoot 1.0"
The current `ember-cli-fastboot` releases (1.0.0-rc.1 and above) introduce breaking changes. These will most likely break your current FastBoot implementation.

See https://github.com/ember-fastboot/ember-cli-fastboot/issues/387 for more information and a guide on how to fix your addon. Also you may want to visit the `-fastboot` Slack channel to get help from other users.

*Note: this issue has be

[2017-07-03 18:39] lcpriest opened #149 "PointerEvents set to none when modal: true"
Is `modal: true` supposed to be a walkthrough/non-clickable mode?

Relevant code here:
https://github.com/shipshapecode/ember-shepherd/blob/c01523580a32bca00fed316ad35713f024b9047b/addon/services/tour.js#L367

[code]

[2017-07-16 23:45] rwwagner90 commented on #149
Hi @lcpriest yes, it should. I'm confused, did you want users to be able to click element underneath the greyed out overlay?

[2017-07-16 23:46] lcpriest commented on #149
I was hoping to pop the relevant elements above the overlay using z-index, i.e. certain form fields that are relevant

[2017-07-17 00:20] rwwagner90 commented on #149
This should be possible potentially. I'm open to a PR to support it, if it's not already possible 😄

[2017-08-03 15:37] linearza commented on #145
PR up https://github.com/shipshapecode/ember-shepherd/pull/154

[2017-08-04 14:17] rwwagner90 commented on #145
Done!

[2017-08-04 14:17] #145 closed

[2017-08-04 14:18] rwwagner90 commented on #149
The elements should be popped out, if done correctly, and if not, you can try copyStyles. Going to close this, but feel free to make a new issue if you want to pursue this further.

[2017-08-04 14:18] #149 closed

[2017-09-12 02:00] #142 closed

[2017-10-12 11:18] chvonrohr opened #165 "Route Transition"
Is there already a way span a tour over multiple routes?
I tried with the ```beforeShowPromise``` function, which fires the promise too early before html classes are available...

[code]
Any recommendations?

thx

[2017-10-12 12:53] rwwagner90 commented on #165
Hi @chvonrohr I think people have submitted issues on this before, but I can't seem to find them. I think it is not currently supported. You would probably do one set of steps for one route, then stop the tour on transition and start it again with new steps. If you have an idea of how to make this easier, I'd love a PR to make it more seamless 😄

[2017-10-12 14:20] chvonrohr commented on #165
😄  ok, thanks for your reply...
I would prefer to not split tours, as I load them async and they will span over many pages.

By now, I add some milliseconds before I resolve the Promise, but this is rather hacky.
I'll investigate a little more and submit a PR if possible.

[2017-10-12 15:42] rwwagner90 commented on #165
@chvonrohr rather than adding time, you could try wrapping in `Ember.run.scheduleOnce('afterRender', this, function(){})` to make sure it runs after render.

[2017-10-15 18:44] rwwagner90 opened #167 "Refactor to not use jQuery"
We don't use a ton of jQuery, but we should remove the small amount we do use.

[2017-10-16 11:45] chvonrohr commented on #165
I don't know why it didn't work the first time I tried, but using ```afterRender``` works now... :-)
Using the the new router service (or router-polyfill before 2.15), this looks as following:

[code]

thx for your reply and your work. Issue can be closed...

[2017-10-16 12:59] rwwagner90 commented on #165
Glad it works @chvonrohr! Would you be interested in writing something up about this for the README?

[2017-10-23 22:12] rwwagner90 commented on #167
Done

[2017-10-23 22:12] #167 closed

[2017-10-25 01:14] #165 closed

[2017-10-25 11:51] chvonrohr commented on #165
@rwwagner90 sorry, did not see your reply earlier.
But I saw, that you already added it to the Readme. thx for the update and your great addon!

With that method, there is **only one drawback** I experienced. An error appears, if a redirect is made on a route. Means, if you ```transitionTo('myurl')```and my url has a further redirect in the route, ```didRender``` fires too early. Workaround for me

[2017-11-29 15:11] rwwagner90 opened #177 "Test ticket from Code Climate"

[2017-11-29 15:11] rwwagner90 opened #178 "Fix "file_lines" issue in addon/services/tour.js"
File `tour.js` has 323 lines of code (exceeds 250 allowed). Consider refactoring.

https://codeclimate.com/github/shipshapecode/ember-shepherd/addon/services/tour.js#issue_5a1b0135329d510001000022

[2017-11-29 15:11] rwwagner90 opened #179 "Fix "method_count" issue in addon/services/tour.js"
`` has 25 functions (exceeds 20 allowed). Consider refactoring.

https://codeclimate.com/github/shipshapecode/ember-shepherd/addon/services/tour.js#issue_5a1b0135329d510001000024

[2017-11-29 15:12] rwwagner90 opened #180 "Fix "method_lines" issue in addon/services/tour.js"
Function `stepsChange` has 54 lines of code (exceeds 25 allowed). Consider refactoring.

https://codeclimate.com/github/shipshapecode/ember-shepherd/addon/services/tour.js#issue_5a1b0135329d510001000025

[2017-11-29 15:12] rwwagner90 opened #181 "Fix "method_complexity" issue in addon/services/tour.js"
Function `popoutElement` has a Cognitive Complexity of 13 (exceeds 5 allowed). Consider refactoring.

https://codeclimate.com/github/shipshapecode/ember-shepherd/addon/services/tour.js#issue_5a1b0135329d510001000023

[2017-11-29 15:14] #177 closed

[2017-12-14 01:02] timjcook opened #184 "Integration tests failing when injecting the tour service."
Hi there 👋

I've noticed that after calling the `tour` service in one of my components, that component's integration test would start failing with the following error `Attempting to inject an unknown injection: 'service:window'`.

I tracked it down to the `ember-window-mock` library that is a dependency of `ember-shepherd`, specifically here https://github.com/kaliber5/ember-window-mock#integratio

[2017-12-14 02:59] rwwagner90 commented on #184
Hi @timjcook! Thanks for reporting! That is, unfortunately, one of the current limitations to ember-window-mock. If you can think of a way to get around this or if you just wanted to document it, I would gladly accept a PR 😃

[2017-12-14 03:42] #179 closed

[2017-12-15 05:18] timjcook commented on #184
Great, I'll have a think about it and get a PR with at least a doco addition soon.

[2017-12-17 20:02] rwwagner90 commented on #184
Sounds great. Please let me know if you need any help from me. Thanks!

[2018-01-07 05:59] rwwagner90 commented on #83
We recently bumped this up a bit, and will continue to add tests in the future, so closing for now.

[2018-01-07 05:59] #83 closed

[2018-01-14 16:00] rwwagner90 commented on #184
I just released version 3.1.0 of ember-shepherd and removed the dependency on ember-window-mock, so that should resolve this issue.

[2018-01-14 16:00] #184 closed

[2018-01-14 16:38] rwwagner90 commented on #178
Fixed

[2018-01-14 16:38] #178 closed

[2018-01-15 22:36] timjcook commented on #184
legend! thanks heaps @rwwagner90. sorry I didn't get a PR together myself. been away for a few weeks 👌

[2018-01-16 14:12] rwwagner90 commented on #184
No worries. Enjoy!

[2018-02-20 04:11] tchan commented on #165
Hey @chvonrohr do you have an example source code I can take a look at? I've followed your example and keep getting router is undefined.

[2018-02-20 13:54] rwwagner90 commented on #165
@tchan you can inject the router service into anywhere you need it. `router` is not a global thing.

[2018-02-20 20:27] chvonrohr commented on #165
Hey @tchan

As rwwagner90 wrote, you have to inject the router service first.
For ember < 2.15, you need this polyfill: https://github.com/rwjblue/ember-router-service-polyfill
for ember 2.15 and above the router service comes with the core.

[code]

[2018-02-28 16:21] knownasilya opened #197 "Default highlighting/arrow ui"
Would love a non trivial implementation of highlight that basically positions a div over the target element so that it doesn't affect ui. On a related note, a default arrow that points to the element would really help as well. Either one of these or both of them would really improve the user experience.

[2018-02-28 17:03] rwwagner90 commented on #197
@knownasilya can you say more on this?

[2018-03-02 03:46] billybonks commented on #197
This sounds like a tour implementation that i saw for react where they have a div that is sized over the item you want to highlight and builds the back drop using a box-shadow that covers the whole page. that div is absolutely positioned around the app.

[2018-03-02 05:00] rwwagner90 commented on #197
I'd be happy to work with someone on an implementation for this. Highlighting mostly works, but does have some issues, which is why I provided the copyStyles stuff to duplicate all the styles of the element and pop it out over the overlay.

[2018-03-02 13:18] knownasilya commented on #197
So `modal` + `copyStyles` is basically what I wanted, but it wasn't obvious that's how it should be setup.

[2018-03-03 01:34] rwwagner90 commented on #197
@knownasilya it may be more performant to do it the way you were thinking, instead of the copyStyles method, if you had an implementation in mind.

[2018-04-24 12:59] rwwagner90 commented on #42
@evoactivity your elements would not be there until the page renders, so I don't think `beforeModel` or `afterModel` are what you want here. You want to wait until the page is rendered and then start the tour.

[2018-05-02 14:30] jbandura opened #206 "Allow user to decide where to place the `shepherdOverlay` element"
## Current behavior
The element gets appended to `body`. In my case, it's a bit complicated since I have to place it in a different element to make the highlighting work properly.

## Proposed behavior
The user can pass in an optional config option `modalContainer` (defaults to `body`) which influences where the modal element will be placed. Usage:

[code]

Let me know what you think :) Happy to c

[2018-05-02 15:59] rwwagner90 commented on #206
This seems fine to me! I see no reason why we couldn't default to `body` with an option to override.

[2018-05-04 10:55] jbandura commented on #206
Glad to hear that, created a PR :)

[2018-05-08 14:58] alexmiddeleer opened #211 "Demo seems to be broken on Chrome"
![image](https://user-images.githubusercontent.com/5400639/39764810-681b53de-52ae-11e8-8e4e-1aec3836fae9.png)
I see the following when I visit http://ember-shepherd.shipshape.io/. The tour popup does not fully appear, and appears frozen (in a partial animation?). Buttons are not clickable.

It is reproducible in Chrome Version 66.0.3359.139 (Official Build) (64-bit), but it is not reproducible in

[2018-05-08 15:41] alexmiddeleer commented on #211
Update: this is also happening after I tried using this in my app. However, I determined that it appears to be a problem with the drop-shadow filter css property. Removing the drop shadow fixes the problem for my site and the tour.

[2018-05-11 14:10] rwwagner90 commented on #211
@alexmiddeleer I'm not seeing this issue. I'm on `Version 66.0.3359.170 (Official Build) (64-bit)` and it all works fine. Perhaps it was a Chrome bug, that is now fixed?

[2018-05-11 16:17] alexmiddeleer commented on #211
I updated Chrome to `66.0.3359.170 (Official Build) (64-bit)` and I am still seeing the bug, unfortunately. I tried disabling extensions as well. However, my coworkers can't see this bug, so maybe it's just me ¯\ _ (ツ) _ /¯

[2018-05-11 16:54] rwwagner90 commented on #211
@alexmiddeleer yeah, sounds like something weird is going on, with your specific setup. If you are able to get a reproducible case for me, that causes the error on other machines, please let me know, but I am going to close this for now.

[2018-05-11 16:54] #211 closed

[2018-05-29 16:21] davewasmer opened #214 "Tether is end-of-life"
It might be worth mentioning in the readme that Tether.js, the library that Shepherd uses for positioning popups, is end-of-life. Plus, Shepherd's future seems tenuous at best given Hubspot's apparent abandonment of open source maintenance.

[2018-05-29 19:33] davewasmer commented on #214
Certainly, and I don't mean to knock any of the efforts of the ember-shepherd folks - happy to see it so active.

However, I think it could be worthwhile to at least include a note in the readme. Not explicitly deprecating ember-shepherd, but just calling out that the underlying libraries are either EOL or uncertain in their future.

I'm building out a tour feature for a client project and got pre

[2018-05-30 02:27] rwwagner90 commented on #214
@davewasmer I would argue that it's not really EOL though. It's stable and works great, and we've bolted on extra functionality here at ember-shepherd as well. Ember addons give us the opportunity to consume other JS libs and continue to support and improve upon them in our own way. ember-tether is also actively maintained https://github.com/yapplabs/ember-tether. I don't think it's fair to just a

[2018-05-30 19:30] davewasmer commented on #214
The Tether.js readme explicitly states that it is no longer maintained by Hubspot, and they recommend switching to Popper.js. The issue tracker has over 80 open issues, and after a cursory glance I'd estimate about half have no response whatsoever.

Which still depends on Tether.js though.

I think maybe I'm not being clear with my ask here - I apologize. I am definitely **not** recommending ember

[2018-05-30 21:09] rwwagner90 commented on #214
I totally understand what you are saying @davewasmer, but I think my argument here is I disagree with your client arbitrarily not wanting to use ember-shepherd, when it is currently the best rated and most solid (to my knowledge) addon to use for this. I don't disagree with your desire for a warning, I just want to help change your mind to see what we can do to get you using the addon 😃 .

[2018-06-01 15:33] alexmiddeleer opened #215 "Jittery behavior with disableScroll in Safari mobile"
Thanks for the great addon, first of all. This is not a major issue, but disableScroll does not seem to work smoothly in Safari mobile. In iOS chrome I see a fairly smooth "snap-back", but in Safari it jitters back and forth rapidly, creating a flicker effect which is a bit jarring to the user.

[2018-06-01 20:15] knownasilya opened #216 "Needs a release"
I think the latest update to ember-tether fixes the babel deprecation, would appreciate a release 👍

[2018-06-02 11:51] #206 closed

[2018-06-02 11:58] rwwagner90 commented on #216
3.3.0 released. Please let me know if it does the trick!

[2018-06-02 11:58] #216 closed

[2018-06-04 13:35] alexmiddeleer commented on #215
I wouldn't expect it to - it seems to be the "snap-back" which is jittery. I can confirm, but I don't know what would stutter if disableScroll was off.

[2018-06-06 01:11] rwwagner90 commented on #215
I'm not sure what you mean by "snap-back". This addon scrolls to the next step when you click next/previous etc. I'm curious if the issue you are seeing goes away with `disableScroll` turned off or not.

[2018-06-06 14:33] alexmiddeleer commented on #215
Sorry for the bad description... "snap-back" is how I was trying to describe what Chrome does when you have disableScroll on. It allows you to scroll about 100px then "resets" your scroll position, the animation has an elastic feel to it (as opposed to Safari mobile, which seems to be trying the same thing, but is jittery). With disableScroll turned off, you can scroll normally.

[2018-06-06 19:54] rwwagner90 commented on #215
Ohhhh, that sounds like a browser bug of some kind then. Disable scroll 100% disables scrolling. You cannot scroll at all. The snap-back thing is how the browser handles you scrolling, but ultimately does not let you scroll.

[2018-06-06 21:18] alexmiddeleer commented on #215
Yup, we want to 100% disable scrolling, and the Chrome behavior is fine. I agree that it's likely a browser bug but wasn't sure how the internals of shepherd turn off scroll. Browser quirks.... 😢

[2018-06-07 02:52] rwwagner90 commented on #215
We use https://www.npmjs.com/package/disable-scroll but I think the issue would persist, regardless of how you disable scroll. The snap-back is built into Chrome. If you scroll past the top or bottom of a site it snaps back, the same with if scrolling is disabled. It's possible there is a way to disable that behavior as well. If you have any suggestions, I would be happy to try them out.

[2018-06-07 13:18] alexmiddeleer commented on #215
Sure, I will try to do an investigation and if anything useful turns up, I will report back.

[2018-06-15 13:11] lozjackson commented on #211
We have come across this bug also..

It is on a macbook pro 15" mid-2015 with dual gfx cards.

The problem only occurs when using the Intel Iris Pro gfx card (built-in).. and the problem disappears upon switching to the AMD Radeon gfx (Automatic gfx switching in display preferences disable).

Chrome 67
Macbook Pro
Intel Iris Pro (built-in) / AMD Radeon (PCIe) gfx cards
ember-shepheard v3.1.0

[2018-06-15 13:18] alexmiddeleer commented on #211
I was able to make it go away just by toggling one of the shadow-related css props iirc. Definitely a browser bug (or maybe even lower level).

[2018-06-15 13:35] lozjackson commented on #211
This bug also affects HubSpot/shepherd (unsuprisingly)

https://github.com/HubSpot/shepherd/issues/180

and the issue is still open there, so I have left my comment there also

[2018-06-17 15:50] chrism opened #218 "Custom button actions"
Hi,

This is a great library but i'm stuck trying to use more button types that the built-in ones.

In my step I'm using the builtInButtons option taken from the dummy app but wanting to include a button which has a custom action.

[code]
Both the next and cancel work as expected, but I haven't been able to get the custom action to work no matter what I try.

First, I tried to add it as a custom e

[2018-06-19 01:33] rwwagner90 commented on #218
Hi @chrism, sorry to hear you are having trouble! I actually did not implement the custom actions part myself, so I am not 100% sure, but I think maybe the action is supposed to be a function, not a string. In the code, if it is not a built in button type, and you do not pass an action function, it defaults to `function(){}`, so I think it should be a function. Perhaps try:

[code]

Please let me

[2018-06-19 18:46] rwwagner90 commented on #214
@davewasmer I was granted write access to the Shepherd repo, and I am actively talking with the folks at HubSpot about continuing Shepherd. It may be refactored to use popper. ember-shepherd and Shepherd will not be end of life, just FYI.

[2018-06-20 15:47] davewasmer commented on #214
Awesome news, glad to hear :+1:

[2018-06-20 15:47] #214 closed

[2018-06-20 16:37] chrism commented on #218
Hi @rwwagner90 I'm really sorry I didn't get back to you sooner on this, thanks very much for your reply.

I've been on a bit of a deadline & for now decided not to include the additional button in the tour.

I'm going to free up some time at the end of this week to look into this and will let you know.

Thanks again for the advice.

[2018-06-20 18:32] rwwagner90 commented on #218
No worries, please let me know if it works, and if it does, I would love a PR to update the docs!

[2018-06-22 17:36] chrism commented on #218
Hi,

Finally had chance to take a look at this—works perfectly.

I've submitted this PR https://github.com/shipshapecode/ember-shepherd/pull/220 which hopefully updates the docs in a way you approve. If anything is missing let me know and I'll update it.

Thanks again for your help.

[2018-06-22 17:57] rwwagner90 commented on #218
Thanks!

[2018-06-22 17:57] #218 closed

[2018-07-15 22:11] rwwagner90 opened #224 "Clarify/change builtInButtons"
We still call this `builtInButtons`, but it actually supports custom buttons too now, so we should update docs and possibly change the name.

[2018-08-29 01:30] greenkeeper[bot] opened #231 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2018-09-07 05:56] BrianSipple opened #236 "Add option for showing a step after render"
Right now, if a user wants a step to show after render, they have to set the `beforeShowPromise` option and then manually construct an `afterRender` RunLoop operation:

[code]

I feel like this is such a common use case, that we should be able to offer a Boolean step option such as `showAfterRender`, and, if it's `true`, handle the above functionality ourselves behind the scenes.

[2018-09-07 12:02] rwwagner90 commented on #236
@BrianSipple I would be okay with this, I think. Could we just build this in as the default behavior for ember-shepherd somehow, perhaps just wrap the show function in the run loop, rather than using `beforeShowPromise`?

[2018-09-08 00:13] chuckcarpenter commented on #236
[code]

[2018-09-08 00:17] chuckcarpenter commented on #236
otherwise, the only concern I'm not clear on is with this 'afterRender' and how the advanceOn element triggers it? Is that assuming it will be the next transition in the runloop?

[2018-09-08 00:50] BrianSipple commented on #236
@chuckcarpenter I'm not sure I'm following where `advanceOn` would come in to play here. Ideally, the tour wouldn't be listening for events until `beforeShowPromise` resolves -- which would be after `afterRender` resolves.

Regarding the example you posted above, I think a better approach, instead of passing that to beforeShowPromise, would be to inject the tour service into whatever component you

[2018-09-08 01:12] BrianSipple commented on #224
Recapping our recent discussions, the decision here appears to be just doing away with `builtInButtons`, and having users use Shepherd's `buttons` option directly.

[2018-09-08 01:58] rwwagner90 commented on #224
@BrianSipple @chuckcarpenter taking a quick look at the `builtInButtons` code, I think it gives us a few things. One, it binds the action to the `this` scope of the Ember service, and two it calls `next` etc in the Ember service, which also triggers events on the Ember side of things. I think we still need `builtInButtons`, but they are more like `emberButtons`. If we can replicate all this functi

[2018-09-09 05:27] BrianSipple commented on #224
More to that point, I think this could be indicative of a good opportunity to refactor the `stepsChange` observer:

[code]

What if, instead of having an observer, we just made `steps` “private” and had an `setSteps` method that would be required before starting the tour?

(I mean… how often would users be dynamically swapping new steps in and out? And do we even want to promote such usage?)

That

[2018-09-09 05:44] BrianSipple opened #238 "Remove usage of `.shepherd-transparent-text` class"
The `shepherd-transparent-text` CSS class is used pretty liberally throughout the test dummy app, and it's even used as a default class for the "error" step we add in the `tour` service.

However, I don't think this class is actually a part of the styles for `shepherd`, and we don't have any style rules for it here. It seems to be limited to [`shepherd`'s test dummy app styling](https://github.com

[2018-09-09 12:05] rwwagner90 commented on #238
@BrianSipple are you saying just remove unused classes from demos? The demos use some custom classes, to show that you can pass classes in and such.

[2018-09-09 12:10] rwwagner90 commented on #224
The idea behind the observer is you can always do `this.set('steps',` to trigger your new tour steps. It sounds like what you are proposing, where we would have a `setSteps` method, is essentially the same API to the end user of just setting the steps and it works, so that seems fine to me.

[2018-09-10 00:01] BrianSipple commented on #238
I'm not opposed to having dummy class names when we're demoing such usage. That said...

- I might make it a bit more clear that that's what they are. (Something like `my-custom-class-name`).
- I think there are several cases where the usage makes things less clean -- especially [the case where `shepherd-transparent-text` made it in to the addon code](https://github.com/shipshapecode/ember-shepher

[2018-09-10 05:59] chuckcarpenter commented on #224
I guess my feeling is aren't we trying to emulate the docs for Shepherd and make them work in Ember with some additional integration points?

[2018-09-10 06:13] chuckcarpenter commented on #224
Also, I wonder if we should have the ability to add individual steps along the way, kind of as if a user took another path. This could just be done with `this.get('tour.tourObject').addStep()` though

[2018-09-10 07:05] BrianSipple commented on #224
I like the idea of `setSteps`, `addStep`, and `addSteps` as two separate points of interaction.

[2018-09-10 11:46] rwwagner90 commented on #224
@chuckcarpenter

You would do this currently by just pushing onto the steps array, and the observer would fire.

@BrianSipple I think supporting all those sounds logical. I want to have an `addSteps` in Shepherd itself, so you don't have to `forEach` and `addStep`.

[2018-09-10 19:26] chuckcarpenter commented on #224
I think this is clearer for the user. Refactoring the addition of steps themselves in another issue. https://github.com/shipshapecode/ember-shepherd/pull/241

[2018-09-10 19:29] chuckcarpenter opened #242 "Refactor observer in favor of explicit methods"
Consider removing observer to instead have user invoke an `addSteps()` that could take either an array of steps or one step object and apply that to the Tour.addStep method after binding buttons/actions.

[2018-09-11 04:30] BrianSipple commented on #236
Playing around with this a bit, it's tough for `ember-shepherd` to use the run-loop unless it overwrites `beforeShowPromise` -- because `beforeShowPromise` itself is handled in `shepherd`.

@rwwagner90 @chuckcarpenter What do you think about offering a set of addon helpers that handled common `beforeShowPromise` patterns? Something like this:

[code]

[2018-09-11 12:27] #238 closed

[2018-09-11 12:32] rwwagner90 commented on #236
@BrianSipple `beforeShowPromise` is intended to run anything and everything you want it to. It's just any function, that returns a promise and resolves the promise when you are ready to call `show`. With that in mind, I think your `showAfterRender` seems okay.

However, why can't we just wrap the `ember-shepherd` `show` method in the runloop? Should work the same and handle these things automatica

[2018-09-11 22:35] BrianSipple opened #244 "Explore Integration of Ember CLI Addon docs."
Can we? Should We?

[2018-09-12 00:18] rwwagner90 commented on #244
We definitely should 😄. It will allow us to have nice docs and examples and hopefully get more and more addons jumping on the train and using them to document. It would be nice to participate in a a common docs experience with other addons.

[2018-09-14 18:19] #224 closed

[2018-09-17 16:22] HodofHod opened #246 "cleanupShepherdElements destroys <body> element in tests"
Reference: PR #212

### Problem:
Ember Shepherd (3.3.0) deletes the `<body>` tag after my first acceptance test, causing all further testing to fail. I'm not sure if this is still an issue in 4.0.0, but it seems like it would be.

### Background
The `<body>` element gets deleted by Shepherd's `willDestroy` between tests if the `body`'s class _attribute_ starts with `shepherd`.  Since the entire ap

[2018-09-18 12:47] #246 closed

[2018-09-20 21:30] #197 closed

[2018-09-21 21:04] rwwagner90 commented on #215
Closing as a bug in browsers.

[2018-09-21 21:04] #215 closed

[2018-09-22 00:19] BrianSipple opened #249 "Add helper for hiding a current step."
The `tour` service should have a basic `hide` function that performs what, currently, needs to be done with `tourService.tourObject.getCurrentStep().hide();`

[2018-09-27 01:47] greenkeeper[bot] opened #255 "An in-range update of sass is breaking the build 🚨"
## The devDependency [sass](https://github.com/sass/dart-sass) was updated from `1.14.0` to `1.14.1`.

🚨 [View failing branch](https://github.com/shipshapecode/ember-shepherd/compare/master...shipshapecode:greenkeeper%2Fsass-1.14.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

sass is a devDependency of this project. I

[2018-10-09 01:32] #231 closed

[2018-10-09 02:56] BrianSipple commented on #249
Update: We should be able to implement/document this after merging https://github.com/shipshapecode/shepherd/pull/265

[2018-10-12 12:28] #255 closed

[2018-10-12 12:29] rwwagner90 commented on #249
@BrianSipple we should be good to implement this now right?

[2018-10-12 17:39] #181 closed

[2018-10-12 17:39] #180 closed

[2018-10-13 20:47] #242 closed

[2018-10-15 11:54] #249 closed

[2018-10-17 19:17] knownasilya opened #263 "Named step collections"
Currently I have multiple lists of steps depending on routes and the state of the app or the permissions of the user.

I extend the `tour` service to make this possible by changing the steps in a modified `start` method.

I'd love to see something like:

[code]
Somewhere else:

[code]

[2018-10-17 19:25] knownasilya opened #264 "Idea: alternative way to define steps"
Currently steps are very brittle, because they are dependent on the template but defined outside of it and with duplicated logic. This shows it's ugly head when you start filtering steps based by state in your app and the filtered steps don't necessarily match the UI because you missed something that might have filtered out the step in the UI. The UI should be the source of the steps, since they a

[2018-10-18 12:13] rwwagner90 commented on #263
@knownasilya would this not work better as separate tours, rather than switching steps for one tour?

[2018-10-18 12:20] rwwagner90 commented on #264
@knownasilya couldn't you use the same things you use for your `if` on the JS side to determine the steps? I'm not opposed to also supporting some sort of template based setup for steps, but I think it's much easier in JS because you can do complex logic to really customize everything.

[2018-10-18 12:29] knownasilya commented on #263
Well, you can only have one tour open at a time. If there was multiple you have to handle the state of closing a currently open tour before opening a new one on a different service. But, aside from that, multiple services might work.

[2018-10-18 12:31] knownasilya commented on #264
You can, but the issue arises when the location you setup your tour, most likely in the application route, doesn't have access to all of the local data necessary to determine the state. So you start pulling out data into services just for the tour and it's messy.

[2018-10-18 12:33] rwwagner90 commented on #263
We should definitely build in multiple tour support to ember-shepherd. This is something you could do with Shepherd OOTB, so we should support it here. @BrianSipple @chuckcarpenter any thoughts?

[2018-10-27 02:52] BrianSipple opened #266 "Add test helpers"
Ongoing idea list:

- assertCurrentTour(assert, tourName) {}
- assertTourActive(assert, message = 'tour is active) {}
- assertTourInactive(assert, message = 'no tour is active') {}
- assertTourStep(assert, stepName) {}
- assertTourStepHidden(assert, message = 'tour is active but current step is not shown') {}
- assertTourStepVisible(assert, message = 'tour is active and current step is shown') {}

[2018-11-20 15:39] knownasilya opened #276 "Ignore button type"
One use case I found that the current button types don't handle is if you want to ignore the tour all-together, even when you come back later so it doesn't bug you every time.

Basically like a 'next' works on the last step, but able to put it on the first step.

[2018-12-05 14:56] rwwagner90 commented on #276
@knownasilya wouldn't this be better suited to a custom button that calls `cancel` or `complete` on the tour?

[2018-12-05 15:01] knownasilya commented on #276
Yeah, I wasn't handling the events due to API changes that I didn't realize happened.

[2018-12-05 15:01] #276 closed

[2019-02-01 11:01] yaxinr opened #288 "set steps error"
https://shipshapecode.github.io/ember-shepherd/
`tour.set('steps', steps);
`
do not work in ember 3.7 ember-shepherd: 4.5.3
[code]
this work
`tour.addSteps(steps);
`
because
[code]

[2019-02-01 18:33] rwwagner90 commented on #288
@yaxinr `addSteps` is the currently documented and supported way of adding steps. We removed the `observer`, so setting `steps` manually will not do anything anyway.

[2019-02-04 03:57] yaxinr commented on #288
change main page maybe https://shipshapecode.github.io/ember-shepherd/

[2019-02-04 08:58] yaxinr opened #290 "Default buttons in defaultStepOptions"
Default buttons in defaultStepOptions do not make transition.

`  tour.set 'defaultStepOptions', {buttons: {type:'next'}}
`

[2019-02-04 12:37] rwwagner90 commented on #288
Ah, yes, need to change that. The README is the most up to date docs at this time.

[2019-02-04 12:37] #288 closed

[2019-02-04 12:46] rwwagner90 commented on #290
I don't think this is supported. You should add buttons on a per step basis.

[2019-02-09 01:28] #290 closed

[2019-04-04 10:02] Turbo87 opened #294 "Empty Changelog"
The [changelog](https://github.com/shipshapecode/ember-shepherd/blob/v4.6.0/CHANGELOG.md) for the last few releases mentions the releases but is otherwise empty. What were the changes in those last releases and why are they not mentioned in the changelog?

[2019-04-04 14:39] rwwagner90 commented on #294
Most of the changes were bumping Shepherd versions. I use github_changelog_generator and I think it does not list changes from commits that were not merged from PRs. It does have a link to the full changelog, showing the commits between the versions, if that is helpful.

[2019-04-07 00:11] rwwagner90 commented on #244
Closed by #297

[2019-04-07 00:11] #244 closed

[2019-04-25 16:26] st-h opened #303 "feature request: allow to add custom content to buttons"
I was trying to add arrows from the [font awesome](https://github.com/FortAwesome/ember-fontawesome) library to the next and back buttons. In the end I was able to accomplish this by adding :before and :after elements that contain the svg data as css property `content: url('data:image/svg+xml; utf8, <svg....`

However, this is not only a quite inconvenient way to do this, this also has the drawbac

[2019-04-25 18:47] rwwagner90 commented on #303
So a couple things, `text` supports HTML https://github.com/shipshapecode/shepherd/blob/3dee64d023e9545f61d508b36d030a331b5e0049/src/js/step.js#L129

You can add that svg code in the text if you would like or use the font awesome font, rather than the svgs.

Also, you can definitely change the fill and stroke of svgs on hover, I do it for my icons all the time. Something like this:

[code]

Hopefu

[2019-04-26 08:29] st-h commented on #303
@rwwagner90 Ah, thank you. I wasn't aware that text would also support html. That makes things a lot easier.
Regarding the fill color, it does not seem to be possible to change it when the svg data is embedded within the `content` property. When adding them as actual elements, like you said, that works perfectly.

[2019-04-26 08:29] #303 closed

[2019-04-28 11:49] st-h opened #304 "lazily load shepherd dependency"
I was wondering if we could use ember-auto-import to allow lazy loading of the shepherd dependency? The shepherd dependency currently is the largest external one within my app, however might not be required at all.
I'll be happy to submit a PR, but wanted to check first if you would be interested in this

[2019-04-28 13:53] rwwagner90 commented on #304
@st-h this sounds like a good idea to me. The main reason we are using ember-cli-node-assets, is so we can allow the consumer to specify a theme in the config and to wrap Shepherd in a fastboot transform, so  it does not attempt to use `window` etc when in node. We'll need to account for these things when switching to ember-auto-import, but I do think it would be a good thing to do.

[2019-04-28 15:48] st-h commented on #304
thanks for the input. I will give it a try, however I am currently not sure how to exactly deal with the templating/fastboot stuff.
Is ember-shepherd supposed to be included within FastBoot rendering? In my app I noticed that shepherd often caused issues with fastboot due to the autoscroll lock dependency which tries to attach event handlers. So far, I never inject the help service directly, but w

[2019-04-29 01:12] rwwagner90 commented on #304
@st-h Shepherd is not included when running in fastboot and it should not be.

[2019-04-29 08:49] st-h commented on #304
@rwwagner90 thanks. I'll see if I can find the reason for the exception I occasionally see as well.

just attaching the trace for reference here:

[code]

[2019-04-29 11:58] rwwagner90 commented on #304
Looks like it is from body-scroll-lock. That's not from Shepherd, it is here in ember-shepherd https://github.com/shipshapecode/ember-shepherd/blob/master/package.json#L59

We should probably move the disableScroll functionality into Shepherd as well, then this would be fixed.

[2019-04-29 17:47] st-h commented on #304
I think moving disableScroll to shepherd.js is a nice idea. That way we can also lazy load it without having to do anything :D

[2019-04-29 21:54] #304 closed

[2019-04-29 21:55] rwwagner90 opened #306 "Move disableScroll to Shepherd"

[2019-05-06 12:13] cbou opened #310 "Remove default CSS"
Ember Shepherd comes with a lot of CSS.

Is it possible prevent this css to be added to the DOM?

[2019-05-07 00:51] rwwagner90 commented on #310
@cbou I believe you'll need most of it or Shepherd will not function as intended. Can you say more about your use case please?

[2019-05-16 20:14] SilvaMtz opened #314 "Tour does not close on Route Transitions"
Whether I type the URL directly or move through the app, the tour does not close. I have tried using `willTransition`, `didTransition`, `deactivate`, and many other Route Methods, something like this:
`willTransition() {
     this.get('tour').cancel();
`
I have multiple tours on my app. When I move from one route to another with the tour open,  it does not close and stacks with the other tour. And

[2019-05-19 09:16] rwwagner90 commented on #314
Hello @SilvaMtz, can you please provide a reproduction of this or at least confirm your versions of Shepherd and ember-shepherd etc?

[2019-06-06 21:58] SilvaMtz commented on #314
Upon changing routes, the begin stacking on top of the other. Unable to close the last one.

Shepherd v2.8.0
Ember-Sehpherd v4.9.0

<img width="1280" alt="Route 1" src="https://user-images.githubusercontent.com/17131846/59069230-259ed800-887c-11e9-95fe-1e640a0bb235.png">
<img width="1280" alt="Route 2" src="https://user-images.githubusercontent.com/17131846/59069231-259ed800-887c-11e9-96b6-aa40364

[2019-06-06 23:39] rwwagner90 commented on #314
@SilvaMtz so two things here:

1. Would using just one tour and replacing the steps not be okay?
2. What have you tried to cancel the tour before switching routes? If you could provide a reproduction, I could try to help you find a workaround.

[2019-06-07 09:02] st-h commented on #314
@SilvaMtz I noticed that this is probably not desired behaviour as well, as I am using a separate tour for each route in my app. To work around it, I just cancel the current tour on the `willTransition` hook.

[code]

[2019-06-07 13:41] rwwagner90 commented on #314
@SilvaMtz @st-h when I originally wrote this library, I did not intend for multiple tours. I always reused the same tour and changed the steps out. I also know there are people who want the tour to stay active across route transitions, so there are use cases for both cancelling and not.

That being said, we could probably make this configurable. We could build something in that utilizes the router

[2019-06-08 06:28] st-h commented on #314
@rwwagner90 I personally think it is fine that the app controls when the tour will be hidden - as it currently is. But, as you mentioned, one could always add configurable convenience methods to handle something like that - but well, it is quite easy to add that behaviour in the actual app in case it is desired.

[2019-06-08 08:25] st-h opened #319 "6.0.0 npm error: node_modules/ember-shepherd: Appears to be a git repo or submodule."
ember-shepherd 6.0.0 fails to install via npm with the following error:
[code]
If one looks at the node_modules directory, it contains a `.git` directory which likely is the cause of the error. ember-shepherd 5.0.0 does not contain that directory.
[code]
yarn does not seem to have an issue with this and installs fine. However, it would probably be a good idea to make sure the `.git` and `.DS_Store

[2019-06-09 14:53] rwwagner90 commented on #319
@st-h we haven't changed anything regarding the npm publishing. Perhaps older npm versions ignored `.git` by default or something?

[2019-06-09 14:59] rwwagner90 commented on #314
@st-h I agree, but I do want to make everything as easy as possible.

[2019-06-09 15:01] st-h commented on #319
@rwwagner90 I actually do not know. It showed up in our CI, where the ember build was still using npm. I tried to reproduce it locally and was able to do so. Then I switched back to ember-shepherd 5.0 and had a look at what got installed in the `node_modules` folder. I noticed that only `6.0` contained the `.git` directory. `5.0` does not contain `.git` or `.DS_Store` files.

If I have a look at t

[2019-06-09 15:11] rwwagner90 commented on #319
@st-h I believe it is a bug when publishing packages with newer npm versions. This seems related https://npm.community/t/npm-pack-includes-items-from-git-folder-if-there-is-a-branch-called-readme-regression-in-6-9-0/6044

According to https://docs.npmjs.com/misc/developers#keeping-files-out-of-your-package `.git` should be ignored by default.

[2019-06-09 15:32] st-h commented on #319
@rwwagner90 that sounds nasty... You are right that npm should ignore .git files by default. I am just a little puzzled that we are not seeing this with other add ons as the post you linked already is a few months old. But people should probably be using yarn by now anyways :trollface:

[2019-06-09 15:44] rwwagner90 commented on #319
@st-h it might be some sort of edge case, and not happening all the time. I may have just updated node/npm on the particular day the bug was occurring, and things are okay now. Either way, I just published 6.0.1 and use an older npm, which hopefully should fix the problem. Can you try nombom and installing 6.0.1 and see if it fixes the issue?

[2019-06-09 17:37] st-h commented on #319
@rwwagner90 `6.0.1` looks good to me :)
[code]

[2019-06-09 17:37] #319 closed

[2019-06-21 10:26] st-h commented on #306
@rwwagner90 did you already look into this or have any expectations on how this should be implemented?
I am asking because I am unfortunately seeing the error message caused by bodyScrollLock on every redeployment in dev mode - and well... by now it's starting to annoy me, having to manually reload again after autoreload did its thing. So, I would like to look into resolving this somewhen in the n

[2019-06-21 11:45] rwwagner90 commented on #306
@st-h what error?

[2019-06-21 12:12] st-h commented on #306
@rwwagner90 the one, we recently talked about: https://github.com/shipshapecode/ember-shepherd/issues/304#issuecomment-487503085

[code]

should have added the trace here in first place. I thought I was able to work around that issue, however maybe I was wrong since it appeared again. I just wonder that no one else seems to be having issues with Fastboot when using ember-shepherd.

[2019-06-21 12:39] rwwagner90 commented on #306
Ah okay. I forgot about that conversation. I can get `disableScroll` moved over soon.

[2019-06-21 12:41] st-h commented on #306
@rwwagner90 that would be awesome :) are you using fastboot together with shepherd? Just wondering if I am doing something wrong as nobody else seems to have run into that issue.

[2019-06-21 12:45] rwwagner90 commented on #306
@st-h I actually don't have any projects using Shepherd or ember-shepherd currently. There will be a lot of a11y updates coming down from Shepherd this week too, so hopefully we can get a big release out fixing a lot of things 😃

[2019-06-21 19:22] #294 closed

[2019-06-23 20:55] rwwagner90 opened #326 "Explore Ember generators for tour setup"

[2019-06-23 20:57] rwwagner90 commented on #326
@chuckcarpenter found this note in a project. What was this about?

[2019-06-24 13:52] chuckcarpenter commented on #326
I should've added more details at the time, because outside of some initializers I don't recall what other benefits this would provide.

[2019-06-24 13:52] #326 closed

[2019-06-25 15:11] st-h commented on #306
@rwwagner90 thanks a lot. Life is so much better without exceptions 😃 Noticed the buttons also have specific classes now, which makes styling & positioning a lot easier. Awesome 🎉

I think we can also close this issue now

[2019-06-25 17:12] #306 closed

[2019-07-17 00:32] #314 closed

[2019-07-31 16:49] #310 closed

[2019-09-13 10:09] dcyriller opened #341 "Documentation website seems not to work for ember-shepherd@<9"
It works as expected for the latest version. But it doesn't load when selecting a previous version in the dropdown menu.

[2019-09-13 11:45] rwwagner90 commented on #341
Thanks for letting us know! It is fixed now 😃

[2019-09-13 11:45] #341 closed

[2019-10-03 15:59] BitBrit opened #343 "AttachTo doesn't find elements in ember-wormhole"
Hi,

I am trying to create a tour, some of which goes through an ember-bootstrap modal. Ember-bootstrap modals use ember-wormhole.

I was hoping that I would be able to use the attachTo property and it would find elements and place the tooltip accordingly but unfortunately I get the console error stating that the element in the modal can't be found so it just places the tool tip in the center of t

[2019-10-03 18:08] rwwagner90 commented on #343
Hi @BitBrit it should support targeting any elements in the DOM. Do you have a small reproduction we could play with?

[2019-10-03 18:24] BitBrit commented on #343
I don't yet, but let me see what I can put together. Actually, knowing that it _should_ be able to target these elements helps.

[2019-10-03 18:26] rwwagner90 commented on #343
@BitBrit I do not know what wormhole does, but any elements under `body` should work.

[2019-10-03 18:42] BitBrit commented on #343
Ok, then perhaps it's a timing thing. It could be looking for the element in the modal before the modal has finished rendering.

[2019-10-03 20:25] BitBrit commented on #343
Hi @rwwagner90 Thank you for your prompt responses. My suggestion above was correct. I had to find a way to advance the tour only when the modal had completed it's rendering.  This means "advanceOn" wasn't usable without creating some other special event for it to listen to.

[2019-10-03 20:25] #343 closed

[2019-10-04 15:32] rwwagner90 commented on #343
@BitBrit glad you figured it out! I typically suggest not to use `advanceOn` and to manually call `tour.next`, so you can fully control everything.

[2019-10-04 21:27] BitBrit commented on #343
That sounds good but the reason I used `advanceOn` was because I didn't want the tour logic/knowledge to bleed throughout the app. But yes, it seems to have its short-comings.

[2019-10-04 22:25] rwwagner90 commented on #343
@BitBrit Sure, that makes sense. I'm open to suggestions to making `advanceOn` better, but I think making a custom event that is sure the element is visible might be the best option. We could also maybe have Shepherd continue to try to find the element to attach to even like 500ms or something.

[2019-10-22 20:42] BitBrit commented on #343
@rwwagner90 that would be really good.

We are also using ember-bootstrap with a dropdown-menu element. Our tour spans this dropdown menu and so we have to wait for it to exist. ember-bootstrap usually has a way to pass an `onShown()` action handler. However, for dropdown menus, it does not.  This meant that we had to develop our own way of trying to detect when the menu has finished opening and i

[2019-10-22 22:09] rwwagner90 commented on #343
@BitBrit can we add an `onShown` to ember-bootstrap perhaps? I think it feels more correct to know for sure when the thing is rendered, and then fire the event, rather than polling.

[2019-10-23 18:16] BitBrit opened #356 "Clicking cancelIcon doesn't trigger "cancel" event."
I will explain my scenario for context.

In each tour step (in modal mode) I have attached the tooltip to an element and the whole element stays active and clickable. However, as part of the tour, I only want users to click on certain buttons within the active element. All other buttons I disable as part of the tour step.

When the tour completes, or when the tour is cancelled (via the `cancelIcon

[2019-10-25 20:56] BitBrit commented on #343
@rwwagner90 I agree. Being told when something has happened is always better than asking repeatedly. I will look into make a PR for that.

[2019-10-28 20:31] BitBrit commented on #356
@rwwagner90 My apologies for my lack of knowledge, but how does one distinguish be ember events and native events so that your question can be answered?

[2019-10-29 00:37] rwwagner90 commented on #356
@BitBrit a code sample should suffice. If you're using ember-shepherd, I assume you are not manually interacting with Shepherd, but using the addon, so you're likely not listening to the Shepherd events.

You would have to get a reference to the `tourObject` and add a listener.

[code]

Are you listening for the cancel event like that or how are you setting up your event listener?

[2019-10-29 21:09] BitBrit commented on #356
@rwwagner90 I have created a gist:

https://gist.github.com/BitBrit/6964cc008494f6f8e178cb79dc78585a

This gist if of my app's tour service which is inherited from `TourService` from ember-shepherd. Lines 41 - 51 have the two listeners for the "complete" and "cancel" events.  These are the methods that correctly fire on a "cancel" button type or tour completion but don't for the `cancelIcon`.

Doe

[2019-10-29 21:19] rwwagner90 commented on #356
@BitBrit I do not see any event listeners in that gist. It just appears you have overridden `complete` and `cancel` with your own methods.

[2019-10-29 21:26] BitBrit commented on #356
And what triggers the `complete` and `cancel` on the tour object?

Again, excuse me if I have missed something but I followed this to set my understanding:
https://guides.emberjs.com/release/components/handling-events/
I made the assumption that what is described here works for any ember object. You define a listener and it catches events bubbled up to it.  Is this not correct?

Either way, the co

[2019-10-29 21:28] rwwagner90 commented on #356
@BitBrit we're talking about different things here. You have extended the service and overridden the method. The method is not an event, it is a method called to complete or cancel the tour. `tourService.complete` is what you call to complete the tour, etc.

I believe you would want to use a listener on `cancel` instead :

[code]

We're using Ember Evented, so it could be helpful to check out the

[2019-10-29 22:11] BitBrit opened #360 "Acceptance Testing Tour causes second test to fail"
I am trying to test my ember-shepherd tour using an acceptance test. The first test I have is the "happy path" i.e. it tests that the tour works from start to finish if all expected things happen (user clicks on the correct buttons, API responds successfully etc.).  The second test is designed to verify that the tour ends if there is an API error during the tour.  I use the `waitFor()` ember test-

[2019-10-29 22:16] rwwagner90 commented on #360
@BitBrit are you doing anything differently than we do in our internal tests? https://github.com/shipshapecode/ember-shepherd/blob/master/tests/acceptance/ember-shepherd-test.js

[2019-10-29 22:16] BitBrit commented on #356
Thanks! The events work better but, just for my edification, what is it that calls the `complete()` and `cancel()` methods when I use the "cancel" type button instead of the `cancelIcon`?

[2019-10-29 22:19] rwwagner90 commented on #356
We provide the button types to make things simpler for creating the common types of buttons people usually use. They bind to their corresponding methods here https://github.com/shipshapecode/ember-shepherd/blob/master/addon/utils/buttons.js#L31

`cancelIcon` cancels the tour, it does not call the Ember service's `cancel` method, so listening to the events is the best way to handle these things.

[2019-10-29 22:19] #356 closed

[2019-10-29 22:33] BitBrit commented on #360
Depending on how granular I go, yes.

Here are a few things I notice:
1. I don't start the tour in my test, I visit a route which starts the tour.
2. I don't call `tour.complete()` after each test. The idea here is that the test completes itself via successful completion of the tour, cancelling, or correct handling of errors.
 _Side Note: Line 25 `await`s a promise but https://github.com/shipshape

[2019-10-30 01:09] rwwagner90 commented on #360
@BitBrit without seeing and being able to debug the tests, I am afraid I cannot be much help. I would recommend trying to do similar `await` and such as we do in our tests, and to ensure the tour is completed after each test. I suspect that the test is not done tearing down when you transition routes.

[2019-10-31 16:14] BitBrit commented on #360
Ok thanks for the response. At least your response tells me that you haven't heard of this before and so there are no obvious fixes.

[2019-10-31 16:26] rwwagner90 commented on #360
@BitBrit the TL;DR here is you just have to make sure the tour is completed and totally torn down. I would do an extra `tour.complete` or `tour.cancel` etc in `afterEach` just to be totally sure.

[2019-10-31 16:26] #360 closed

[2019-11-13 05:33] benmurden opened #378 "Link broken in docs"
https://shipshapecode.github.io/ember-shepherd/#/docs/usage

Link refers to https://shipshapecode.github.io/docs/api/services/tour which returns 404.

[2019-11-13 06:57] benmurden opened #379 "Suggestion: Option to disable inline styles"
The default styles appear to be added to a `<style>` tag in the head at runtime. These are frustrating and costly to override because many of them are very specific, leading to specificity wars. Furthermore, we can't use existing styles because anything the included styles define gets overridden, unless we make new, more specific definitions with exactly the same styles.

Shepherd docs mention not

[2019-11-13 12:27] rwwagner90 commented on #378
Fixed, thanks!

[2019-11-13 12:27] #378 closed

[2019-11-13 12:29] rwwagner90 commented on #379
@benmurden the docs are referring to Shepherd v6, and the published version of this addon was on v5. I just published ember-shepherd 10.0.0 which updates to Shepherd v6. We did a major refactor of Shepherd for this version, and the styles should be easier to override, since they are defined in a CSS file instead of injected as a style tag.

[2019-11-14 01:45] benmurden commented on #379
@rwwagner90 Great, that would certainly help.

[2019-11-14 01:45] #379 closed

[2019-12-06 21:43] MuseofMoose opened #391 "Loading Chunk n Failed (In Prod)"
Hey there!

I've added ember-shepherd to my web application recently and while everything appeared to be working just fine in development, as soon as I pushed out the changes on our staging environment, I've immediately started getting "Loading chunk 4 failed" errors when the tour is first started.

I noticed in the dev environment the tour makes a request for a chunk.somelongalphanumeric.js asset

[2019-12-06 21:57] rwwagner90 commented on #391
@MuseofMoose thanks for reporting this issue! Would you be able to try ember-shepherd 10 and see if that changes anything? This is definitely ember-auto-import related with the webpack chunks, but I am not sure why it is occurring.

Is ember-auto-import installed in your app? Perhaps adding it may also help.

[2019-12-07 00:37] MuseofMoose commented on #391
@rwwagner90 Tried both changes but they didn't make any difference. Still getting the exact same error. Should I take this over to ember-auto-import and raise an issue there?

[2019-12-07 01:19] rwwagner90 commented on #391
@MuseofMoose if you could provide an isolated reproduction, that would be helpful. It may be that updating Ember or Ember CLI versions is needed or something. I am not sure.

[2019-12-07 01:24] MuseofMoose commented on #391
@rwwagner90 Fair enough. I'll do some more digging over the weekend and see if I can whip something simple up. I just noticed that doing a local ember build --prod does seem to create the expected chunk file so I'm now wondering if that chunk is getting lost during our extended build process.

Either way, I'll try and put something together or close this if I find out it's something else. I apprec

[2019-12-07 02:29] MuseofMoose commented on #391
@rwwagner90 Sure enough, I wasn't properly copying over the chunk files and other ember-auto-import generated files further along in my build process. How silly of me. Apologies for not realizing and thank you again for trying to help. I'll close this now.

[2019-12-07 02:29] #391 closed

[2019-12-08 01:02] rwwagner90 commented on #391
No problem! Hope you enjoy using Shepherd 😃

[2020-02-25 16:22] #236 closed

[2020-03-20 00:13] grapho commented on #266
I support this idea, though perhaps exposing Shepherd's `modalContainer` would allow tours to render inside of the actual app and therefore could be tested in acceptance tests and possibly allow for visual regression tests (Percy)

[2020-03-20 00:41] grapho opened #449 "Tours are not testable"
I recently upgraded to the latest release. I was originally using v4.0.0-beta.10

I am unable to test tours in ember Acceptance tests. They render outside of the testing container and therefore no way to assert or click through the steps. It is especially egregious when the tours use scrolling or transition through multiple routes.

I attempted to fork this repo to expose the `modalContainer` API

[2020-03-20 03:43] rwwagner90 commented on #449
@grapho I'm not sure I understand. Can you not change the target of the test helpers? You can pass `document.body` as the context for the tests, rather than the default of the Ember testing container.

[2020-03-20 03:44] rwwagner90 commented on #449
Also, why do you need to fork to expose `modalContainer`? Can't you pass that option currently as part of your steps/tour config?

[2020-03-20 03:54] rwwagner90 commented on #266
@grapho I responded to this in the other issue, but responding here as well. All Shepherd options can be used in ember-shepherd, without the need to expose extra things. You would have to pass these options as part of your tour/steps config, like the other options.

Also, Ember's test helpers take a parent element, so you are not limited to the Ember testing container, and you can still write test

[2020-03-20 17:57] grapho commented on #449
@rwwagner90 Thanks for the response!

I resolved the issue with the test helpers, so we can close this issue.

However, I did take a look at the tour service in the addon repo... i do not see `modalContainer` being passed to or set onto the tour instance

[2020-03-20 20:15] rwwagner90 commented on #449
No problem! We have all been there 😃

There is not an explicit option in the service for it, but I think it can be passed as part of your vanilla Shepherd config perhaps? I could be wrong. Let me know what you find!

[2020-03-20 21:26] grapho commented on #449
Confirmed, setting `defaultTourOptions.modalContainer` on the tour service does not do anything on its own.

I could attempt to set the property directly onto Shepherd object.. but as far as I can tell, Shepherd is not instantiated until addSteps is called which is too late (according to the api docs)

[2020-03-21 16:14] rwwagner90 commented on #449
@grapho You are totally right, we had a lot of updates to make to get this to the current Shepherd API! I just opened a PR to update all that. Mind trying it out?

[2020-03-25 13:09] #449 closed

[2020-07-07 20:25] vjgonzalez opened #534 "Why was modalContainer attribute removed since version 4?"
According to [this issue](https://github.com/shipshapecode/ember-shepherd/issues/206) the attribute modalContainer was added to the tour service. In fact it can be seen in [this PR](https://github.com/shipshapecode/ember-shepherd/pull/208). I also see it was released in version 3.3.0. However, it's been removed in version 4 and is currently not available. I can't see any notes on this in the Chang

[2020-07-08 14:48] rwwagner90 commented on #534
@vjgonzalez I'm not sure what you mean. It's still there https://github.com/shipshapecode/ember-shepherd/blob/master/addon/services/tour.js#L423

[2020-07-08 20:43] vjgonzalez commented on #534
Yes, it's in the master branch, but not in the releases: check out tag for version 11.0.0:
[](https://github.com/shipshapecode/ember-shepherd/blob/v11.0.0/addon/services/tour.js)

[2020-07-09 01:26] rwwagner90 commented on #534
Ah sorry, just released a new version. Didn't realize it had not been released.

[2020-07-09 01:26] #534 closed

[2020-12-02 17:25] joegaudet commented on #391
@MuseofMoose realize this is old, but running into the same issue, curious, did you use ember-cli-deploy to fix? And if so mind sharing your config?

[2020-12-02 23:47] joegaudet commented on #391
@rwwagner90 I'm seeing this issue in development and production currently, thought strangely on second full load of the application it works fine.

[2020-12-03 01:16] joegaudet opened #639 "Error: Loading chunk 0 failed"
When using the ember-sheppard tour addon, the first time I initialize the tour service in both dev or production it cannot find the chunk 0.

The path it seems to try and load is the following:

http://localhost:4201/swiftfox/+/hotmailtreutel-denesik-and-jerde/admin/plan/calendar/2020/11/chunk.0.c68e453ef3dda7a025a1.js

When I reload the app, or re run the integration suite, the request is the mor

[2020-12-03 02:02] GCheung55 commented on #639
@joegaudet If you have time, putting together a repo to reproduce the issue would be super helpful.

[2020-12-11 14:00] rwwagner90 commented on #391
@joegaudet it sounds like before this was a problem with ember-auto-import. I don't really have any suggestions other than blowing away node modules and updating them.

[2020-12-14 15:33] rwwagner90 commented on #639
There have been some issues in the past with ember-auto-import. Let me release a new version of ember-shepherd and see if it helps any.

[2020-12-14 16:38] rwwagner90 commented on #639
@joegaudet can you please try 11.0.2?

[2020-12-15 17:48] joegaudet commented on #639
I actually ended up solving the issue by configuring the publicAssertUrl
for auto import, seems to have cleared things up.

On Mon, Dec 14, 2020 at 8:39 AM Robert Wagner <notifications@github.com>
wrote:

[2020-12-15 19:32] rwwagner90 commented on #639
@joegaudet okay, but can you please try the latest version and see if it fixes the issue. I want to make sure this isn't a problem for anyone else!

[2021-04-18 00:59] rwwagner90 commented on #639
Closing this for now, since there have been no updates.

[2021-04-18 00:59] #639 closed

[2022-11-23 09:44] derrabauke commented on #391
@rwwagner90 Is this issue back? I can't open the demo page. https://rwwagner90.github.io/ember-shepherd/docs/demo

[code]

Thanks for the addon, anyways! Will try to adapt it in some existing apps of ours.